.events {
    margin: 0 auto;
    width: 100% !important;
    border-radius: 8px;
    padding-bottom: 30px;
    background-color: var(--mainWhite);
    margin-bottom: 30px;
}

.events-title {
    margin: 0 auto;
    width: 100% !important;
    background-color: var(--mainWhite);
    padding: 10px 120px;
    margin-bottom: 20px;
    border: 2px solid #DADDEC;
    border-radius: 8px;
    text-align: center;
}

.events-title h3 {
    color: var(--primaryColor);
    font-size: 14px;
    text-transform: uppercase;
}

.events-button {
    float: right;
    background-color: var(--primaryColor);
    display: block;
    color: var(--mainWhite);
    font-size: 12px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    text-transform: uppercase;
    padding: 3px 8px;
    text-decoration: none;
}

.events-button a {
    color: var(--mainWhite);
    text-decoration: none;
}

.events-button a:hover {
    background-color: #28165f;
    color: white;
    box-shadow: var(--box-shadow);
}

.events .card-img {
    height: 95%;
    width: 95%;
    margin: 0 auto;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.events .card-desc {
    padding: 0 15px;
}