<script>
    import { onMount } from "svelte";
    import "./events.css";
    import eventsAPI from "../../api/eventsApi.js";
    
    let events = []
    
    onMount(async() => {
        events = await eventsAPI.readAll();
    })
</script>

<div class="events-title">
    <h3>Мероприятия</h3>
</div>

<div class="events">
    <div class="row justify-content-center">
        {#each events as event, i (event.id)}
        {#if i < 3}
        <div class="col col-lg-12">
            <div class="card-content">
                <div class="card-img">
                    <img src={event.image} alt="event-image"/>
                </div>
                <div class="card-desc">
                    <h3>{event.title}</h3>
                    <div class="truncate-text">
                        <p>{event.description}</p>
                    </div>
                    <div class="events-button">
                        <a href="/events/{event.id}">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        {/if}
        {:else }
        <p class="answer-no-data">Пока нет статей</p>
        {/each}
    </div>
</div>