/*--Cards--*/

.swiper-facilitators {
    width: 100% !important;
	height: 100%;
	margin-bottom: 50px;
}

.swiper-facilitators .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-facilitators .swiper-slide {
    background-color: var(--mainBackground);
}

.swiper-button-next, .swiper-button-prev {
	color: var(--primaryColor) !important;
}

.cards {
	display: block;
	height: 180px;  
	border-radius: 8px;
	overflow: hidden;
	text-decoration: none;
}

.card-image {      
	width: 100%;
	height: auto;
}

.card-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;            
	transform: translateY(100%);
	transition: .2s ease-in-out;
    border-radius: 8px;
}

.card:hover .card-overlay {
	transform: translateY(0);
}

.card-header {
	position: relative;
	display: flex;
	align-items: center;
	gap: 2em;
	padding: 0.5em; 
	background-color: var(--mainWhite);
	transform: translateY(-100%);
	transition: .2s ease-in-out;
	height: 30px;
    border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}     

.card:hover .card-header {
	transform: translateY(0);
}

.card-title {
	margin-top: 3px;
	font-size: 11px;
	color: var(--mainBlack);
}

.card-status {
	font-size: 10px;
	color: var(--mainBlack);
}   

.card-button {
	background-color: var(--primaryColor);
	display: block;
	color: var(--mainWhite);
	font-size: 10px;
	cursor: pointer;
	padding: 4px 4px;
}

.card-button a {
	text-decoration: none;
	color: var(--mainWhite);
	display: block;
	text-transform: uppercase;
	text-align: center;
}

.card-button:hover {
	background: #28165f;
	color: black;
	box-shadow: var(--box-shadow);
}

.swiper-facilitators-mobile {
	display: none;
}