<script>
  import "./facilitators.css";
  import { Swiper, SwiperSlide } from "swiper/svelte";
  
  // Import Swiper styles
  import "swiper/css";
  import "swiper/css/navigation";
  
  // import required modules
  import { Navigation } from "swiper";
  
  import { onMount } from "svelte";
  import facilitatorsAPI from "../../api/facilitatorsAPI";
  
  let facilitators = [];
  
  onMount(async () => {
    facilitators = await facilitatorsAPI.readAll();
  });
</script>

<div class="swiper-facilitators-pk">
  <Swiper
  navigation={true}
  modules={[Navigation]}
  class="swiper-facilitators"
  spaceBetween={10}
  slidesPerView={4}
  >
  {#each facilitators as facilitator, i}
  {#if i < 8}
  <SwiperSlide>
    <div class="cards">
      <a href="/faciitators/{facilitator.email}" class="card">
        <img src={facilitator.photo} class="card-image" alt="photo" />
        <div class="card-overlay">
          <div class="card-header">
            <div class="card-header-text">
              <h3 class="card-title">
                {facilitator.firstName}
                {facilitator.lastName}
              </h3>
              <span class="card-status">Фасилитатор</span>
            </div>
          </div>
          <div class="card-button">
            <a href="/faciitators/{facilitator.email}">Подробнее</a>
          </div>
        </div>
      </a>
    </div>
  </SwiperSlide>
  {/if}
  {/each}
  </Swiper>
</div>

<div class="swiper-facilitators-mobile">
  <Swiper
  navigation={true}
  modules={[Navigation]}
  class="swiper-facilitators-mobile"
  spaceBetween={10}
  slidesPerView={2}
  >
  {#each facilitators as facilitator, i}
  {#if i < 8}
  <SwiperSlide>
    <div class="cards">
      <a href="/faciitators/{facilitator.email}" class="card">
        <img src={facilitator.photo} class="card-image" alt="photo" />
        <div class="card-overlay">
          <div class="card-header">
            <div class="card-header-text">
              <h3 class="card-title">
                {facilitator.firstName}
                {facilitator.lastName}
              </h3>
              <span class="card-status">Фасилитатор</span>
            </div>
          </div>
          <div class="card-button">
            <a href="/faciitators/{facilitator.email}">Подробнее</a>
          </div>
        </div>
      </a>
    </div>
  </SwiperSlide>
  {/if}
  {/each}
</Swiper>
</div>
