.navbar-button-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 0 30px 185px;
}

.nav-button {
	background-color: var(--mainWhite);
	color: #6c757d;
	font-size: 12px;
	cursor: pointer;
	padding: 10px 120px;
	text-transform: uppercase;
}

.nav-button:hover {
	background: rgb(237, 242, 246);
	color: var(--mainBlack);
	box-shadow: var(--box-shadow);
	text-transform: uppercase;
	border-bottom: 2px var(--primaryColor) solid;
}

.first {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.second {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.home-container {
	display: flex;
}

.home-container-first {
	width: 75%;
}

.home-container-second {
	width: 20%;
	margin-left: 5%;
}

.lidmagnit-mobile {
	display: none;
}