.knowledges-right-title {
    background-color: white;
    cursor: pointer;
    text-align: center;
    padding: 10px 0;
    color: var(--primaryColor);
    font-size: 14px;
    text-transform: uppercase;
}

.knowledges .knowledges-container {
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.card-desc h3 {
    font-size: 14px;
    color: var(--primaryColor);
    text-transform: uppercase;
    padding-top: 5px;
}

.knowledges img {
    height: 80px;
}

@media  screen and (max-width:1068px) {
    body{
        overflow-x: hidden;
        opacity: 1;
        position: relative;
    }.knowledges {
        opacity: 0;
    }
}

.knowledges {
    text-align: left;
    width: 100%;
    padding: 0;
    background-color: var(--mainWhite);
}