<script>
    import { onMount } from "svelte";
    import "./knowledge.css";
    import knowledgesAPI from "../../api/knowledgesApi";
    import { Link } from "svelte-routing";
    
    let knowledges = []
    
    onMount(async() => {
        knowledges = await knowledgesAPI.readAll();
    })
</script>

<div class="knowledges">
    <h3 class="knowledges-right-title"><Link class="knowledges-right-title" to="/knowledges">База знаний</Link></h3>
    {#each knowledges as knowledge, i (knowledge.id)}
    {#if i < 3}
    <div class="col-md-12 knowledges-container">
        <div class="card-content">
            <div class="card-img">
                <img src={knowledge.image} alt="photo"/>
            </div>
            <div class="card-desc">
                <Link to="/knowledges/{knowledge.id}">
                    <h3>{knowledge.title}</h3>
                    <div class="truncate-text">
                        <p>{knowledge.description}</p>
                    </div>
                </Link>
            </div>
        </div>
    </div>
    {/if}
    {:else }
    <p class="answer-no-data">Пока нет статей</p>
    {/each}
</div>