<script>
    import "./lidmagnit.css";
</script>

<div class="lid-magnit">
    <div class="lid-magnit-content">
        <div class="row">
            <div class="col-md-6">
                <img src="/assets/images/events.png" alt="image" />
            </div>
            <div class="col-md-4">
                <h2>Дарим чек-лист за подписку</h2>
                <p>
                    Делимся только важными и
                    полезными материалами для фасилитаторов.
                </p>
                <form action="">
                    <label for="name">
                        <input
                        name="fullname"
                        class="name"
                        type="text"
                        placeholder="Имя"
                        />
                    </label>
                    
                    <label for="email">
                        <input
                        name="email"
                        class="email"
                        type="email"
                        placeholder="Почта"
                        />
                    </label>
                    
                    <label for="phoneNumber">
                        <input
                        name="phoneNumber"
                        class="phoneNumber"
                        type="text"
                        placeholder="Телефон"
                        />
                    </label>
                    
                    <button type="submit">Подписаться</button>
                </form>
            </div>
        </div>
    </div>
</div>
