.lid-magnit-content .row h2 {
	font-size: 14px;
	color: var(--primaryColor);
	text-transform: uppercase;
}

.lid-magnit-content .row p {
	font-size: 12px;
	color: var(--mainBlack);
	margin: 10px 0;
}

.lid-magnit input,
.lid-magnit button {
	width: 100%;
	border: none;
	padding: 14px;
	border-radius: 3px;
}

.lid-magnit input {
	border: 2px solid #DADDEC;
	margin: 5px 0 10px;
	font-size: 12px;
	color: #656880;
}

.lid-magnit button {
	background-color: var(--primaryColor);
	display: block;
	color: var(--mainWhite);
	font-size: 1rem;
	cursor: pointer;
	border-radius: 6px;
	box-shadow: var(--box-shadow);
	text-transform: uppercase;
	font-size: 12px;
}

.lid-magnit button:hover {
	background: #28165f;
	color: white;
	box-shadow: var(--box-shadow);
}

.lid-magnit span {
	display: block;
	text-align: center;
	margin: 20px 0 0;
	color: #BABDCB;
	font-size: 12px;
}

.lid-magnit-content {
	background: #ffffff;
	border: 4px;
	padding: 20px 3px 20px 30px;
}