<script>
    import { onMount } from "svelte";
    import "./news.css";
    import newsAPI from "../../api/newsApi";
    import { Link } from "svelte-routing";
    
    let news = []
    
    onMount(async() => {
        news = await newsAPI.readAll();
    })
</script>

<div class="news">
    <h3 class="news-right-title"><Link class="news-right-title" to="/news">Новости</Link></h3>
    {#each news as nw, i (nw.id)}
    {#if i < 3}
    <div class="col-md-12 news-container">
        <div class="card-content">
            <div class="card-img">
                <img src={nw.image} alt="photo"/>
            </div>
            <div class="card-desc">
                <Link to="/news/{nw.id}">
                    <h3>{nw.title}</h3>
                    <div class="truncate-text">
                        <p>{nw.description}</p>
                    </div>
                </Link>
            </div>
        </div>
    </div>
    {/if}
    {:else }
    <p class="answer-no-data">Пока нет новостей</p>
    {/each}
</div>