<script>
	import "./slider.css";
	import Lidmagnit from "./Lidmagnit.svelte";
	import { Swiper, SwiperSlide } from "swiper/svelte";
	
	// Import Swiper styles
	import "swiper/css";
	import "swiper/css/navigation";
	
	// import required modules
	import { Navigation } from "swiper";
</script>

<div class="swiper-banners-pk">
	<Swiper navigation={true} modules={[Navigation]} class="swiper-banners-pk">
		<SwiperSlide><Lidmagnit /></SwiperSlide>
		<SwiperSlide><img class="banner-home-slider" src="/assets/banners/banner2.jpg" alt="banner"/></SwiperSlide
			><SwiperSlide><img class="banner-home-slider" src="/assets/banners/banner1.jpg" alt="banner"/></SwiperSlide>
			<SwiperSlide><img class="banner-home-slider" src="/assets/banners/banner2.jpg" alt="banner"/></SwiperSlide>
		</Swiper>
	</div>
	<div class="swiper-banners-mobile">
		<Swiper navigation={true} modules={[Navigation]} class="swiper-banners-mobile">
			<SwiperSlide><img class="banner-home-slider" src="/assets/banners/banner2.jpg" alt="banner"/></SwiperSlide
				><SwiperSlide><img class="banner-home-slider" src="/assets/banners/banner1.jpg" alt="banner"/></SwiperSlide>
				<SwiperSlide><img class="banner-home-slider" src="/assets/banners/banner2.jpg" alt="banner"/></SwiperSlide>
			</Swiper>
		</div>