.navbar {
    display: none;
}

.sidebar {
    position: fixed;
    top: var(--navbar-height);
    bottom: var(--footer-height);
    z-index: 2;
    width: 180px;
    padding-right: 20px;
}

.navbar-container {
    width: 180px;
}

.nav-logo {
    margin: 0 10px;
}

.logo {
    width: 6rem;
}

.nav-icons {
    margin: 0 0 10px 10px;
}

.icon {
    display: flex;
    flex-direction: row;
    width: 20px;
    height: 20px;
    background-color: #381F82;
    border-radius: 50%;
}

.nav-icon {
    background-color: #381F82;
    padding: 6px;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    margin-right: 3px;
}

.nav-icon:hover {
    background: #28165f;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.nav-links {
    list-style-type: none;
}

.nav-links li a {
    text-decoration: none;
    color: #6c757d;
    padding: 5px 8px;
    display: block;
    text-transform: uppercase;
    margin: 3px 0;
}

.nav-links .store a {
    color: var(--primaryColor);
}

.nav-links li a:hover {
    background-color: white;
    color: black;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    border-radius: 8px;
}

.login-button {
    background-color: var(--primaryColor);
    display: block;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
}

.login-button a {
    text-decoration: none;
    color: var(--mainWhite);
    padding: 10.5px 11px;
    display: block;
    text-transform: uppercase;
    text-align: center;
}

.login-button:hover {
    background: #28165f;
    color: black;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--primaryColor);
    margin: 5px;
    transition: all 0.3s ease;
}

@media  screen and (max-width:1068px) {
    .swiper, .home-container-first {
        width: 100% !important;
    }
    .container, .burger, .navbar-mobile-logo, .swiper-facilitators-mobile, .swiper-banners-mobile, .lidmagnit-mobile {
        display: block !important;
    }
    .main {
        margin: 0;
        max-width: 100% !important;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
    }
    .nav-active {
        right: 0;
        text-align: center;
        background-color: var(--mainBackground);
        bottom: 0;
        align-items: flex-start;
        padding-top: 20%;
        margin-top: 15% !important;
        position: absolute;
        top: 5;
    }
    .nav-logo, .sidebar, .swiper-facilitators-pk, .swiper-banners-pk, .home-container-second {
        display: none;
    }
    .nav-icons {
        padding-left: 26%;
    }
    .login-button {
        width: 50%;
        margin: 0 auto;
    }
    .swiper-facilitators-mobile {
        margin: 40px 0;
    }
    .swiper-banners-mobile {
        height: 300px;
    }
    .lidmagnit-mobile {
        margin: 40px 0;
    }
    .lidmagnit-mobile .row {
        margin: 0 auto;
        margin-left: -5%;
    }
    .event-information-all, .knowledge-information-all, .new-information-all {
        max-width: 100% !important;
    }
    .card-facilitator {
        max-width: 50% !important;
    }
}

.nav-active {
    transform: translateX(0%);
    margin-top: 30px;
}

.navbar-mobile-logo {
    display: none;
}