<script>
  import "./navbar.css";
  
  function navOpen() {
    let burger = document.querySelector('.burger');
    let nav = document.querySelector('.sidebar');
    
    burger.addEventListener('click', () => {
      if(nav.style.display === "block"){
        nav.style.display="none";
        nav.classList.remove('nav-active');
      }else{
        nav.style.display = "block";
        nav.classList.add('nav-active');
      }
    });
  }
  
</script>

<div class="navbar">
  <div class="navbar-mobile-logo">
    <a href="/" class="nav-mobile-logo">
      <img src="/assets/images/logo.svg" class="logo" alt="lafa logo" />
    </a>
  </div>
  <!-- burger -->
  <div on:click="{navOpen()}" class="burger">
    <div class="line1" />
    <div class="line2" />
    <div class="line3" />
  </div>
</div>
<nav class="sidebar">
  <div class="navbar-container">
    <!-- nav links -->
    <ul class="nav-links">
      <!-- nav logo -->
      <a href="/" class="nav-logo">
        <img src="/assets/images/logo.svg" class="logo" alt="lafa logo" />
      </a>
      <!-- nav icons -->
      <div class="nav-icons">
        <div class="d-flex">
          <a href="https://wa.me/77019599795" class="nav-icon">
            <img
            class="icon"
            src="/assets/icons/whatsapp.svg"
            alt="icon-whatsapp"
            />
          </a>
          <a href="https://t.me/panna_lafa" class="nav-icon">
            <img
            class="icon"
            src="/assets/icons/telegram.svg"
            alt="icon-telegram"
            />
          </a>
        </div>
      </div>
      
      <li>
        <a href="/facilitations">Услуги</a>
      </li>
      <li>
        <a href="/facilitators">База фасилитаторов</a>
      </li>
      <li>
        <a href="/events">Мероприятия</a>
      </li>
      <li>
        <a href="/knowledges">База Знаний</a>
      </li>
      <li>
        <a href="/places">База помещений</a>
      </li>
      <li class="store">
        <a href="/store">Магазин</a>
      </li>
      <li>
        <a href="/news">Новости</a>
      </li>
      <li>
        <a href="/about">О нас</a>
      </li>
      
      <div class="login-button">
        <a href="/login">Войти</a>
      </div>
    </ul>
  </div>
</nav>
