.events-detail-all {
    margin-top: 30px;
}

.events-detail-first {
    display: flex;
    background-color: var(--mainWhite);
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
}

.events-detail-second {
    background-color: var(--mainWhite);
    padding: 20px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
}

.event-detail-icons {
    width: 30px;
    margin-right: 20px;
}

.left-column {
    width: 65%;
    position: relative;
}

.right-column {
    width: 35%;
    margin-top: 60px;
    margin-left: 5%;
}

.event-detail-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}

.event-detail-description span {
    font-size: 12px;
    color: var(--primaryColor);
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    padding-bottom: 20px;
}

.event-detail-description h1 {
    font-weight: 300;
    font-size: 36px;
    color: var(--primaryColor);
    letter-spacing: -2px;
    padding: 20px 0;
}

.event-detail-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
}

.button-event-detail {
    float: right;
    font-size: 12px;
    background-color: var(--primaryColor);
    color: var(--mainWhite);
    border-radius: 8px;
    cursor: pointer;
    padding: 5px 10px;
    text-transform: uppercase;
    margin-top: 7px;
}

.button-event-detail:hover {
    background: #28165f;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

@media  screen and (max-width:1068px) {
    .events-detail-first {
        display: block;
    }
    .left-column, .right-column {
        width: 100%;
    }
    .left-column img {
        padding-top: 0;
    }
}