.events-all {
    padding: 0;
    color: var(--mainBlack);
    font-size: 12px;
    align-items: flex-end;
    width: 100%;
    margin-top: 30px;
}

@media (max-width:1200px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width:992px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width:767px) {
    .container {
        max-width: none;
    }
}

-- Блок events

.picture-event-all {
    width: 100%;
    margin: 10px 0;
    border-radius: 8px;
}

.information-event-all {
    font-size: 13px;
    color: var(--primaryColor);
}

.answer-info-event-all {
    font-size: 13px;
    margin-right: 0.5rem;
    color: black !important;
    font-weight: 100;
}

.button-information-event-all p {
    margin: 5px 0 10px 0;
    padding: 5px 10px;
    font-size: 12px;
    background-color: var(--primaryColor);
    color: var(--mainWhite);
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    width: 40%;
    text-decoration: none;
}

.button-information-event-all p:hover {
    background: #28165f;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.information-event-all a p{
    text-decoration: none;
}

.event-information-all {
    background-color: var(--mainWhite);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    margin: 0 7px 7px 0;
    max-width: 32% !important;
    padding-top: 15px;
}

.event-information-all img {
    margin-bottom: 10px;
}

.events-container-all{
    margin-bottom: 40px;
}

.answer-info-event-all-title {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--primaryColor) !important;
}

.events-category-button-container-all {
    display: flex;
}

.events-category-button-all {
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 10px;
    border: 1px solid var(--primaryColor);
    border-radius: 8px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: var(--primaryColor);
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
    margin-right: 2px;
    cursor: pointer;
}

.events-category-button-all:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: var(--primaryColor);
    z-index: -1;
}

.events-category-button-all:hover, .events-category-button-all:focus {
    color: var(--mainWhite);
}

.events-category-button-all:hover:before, .events-category-button-all:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    border-radius: 8px;
}

.events-category-button-all:active {
    transform: scale(0.9);
}

