.facilitation {
    margin: 0;
    padding: 0;
    color: var(--primaryColor);
    font-size: 14px;
    margin-left: 3%;
}


@media (max-width:1200px) {
    .container {
        max-width: 970px;
    }
    .block-cards-facilitators {
        justify-content: space-between;
    }
}

@media (max-width:1179px) {
    .container {
        max-width: 850px;
    }
    .block-cards-facilitators {
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
}


@media (max-width:992px) {
    .container {
        max-width: 750px;
    }
    .block-cards-facilitators {
        justify-content: center;
    }
    .title-checkbox-facilitation {
        font-size: 13px;
    }
    .title-facilitation {
        font-size: 18px;
    }
}

@media (max-width:767px) {
    .container {
        max-width: none;
    }
    .promo-block-facilitation {
        display: block !important;
    }
    .block-column-facilitation, .form-block-facilitation, .title-facilitation {
        width: 100% !important;
    }
    .block-cards-facilitators {
        justify-content: center;
    }
    .wrapper-facilitation {
        padding: 10px 0 !important;
    }
    .title-checkbox-facilitation, .title-facilitation {
        font-size: var(--size12);
    }
    .facilitation {
        margin-top: 60px;
    }
}

/*-- Promo Block -- */

.promo-block-facilitation {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
}

.block-column-facilitation {
    width: 50%;
}

.block-column-facilitation .first {
    width: 40%;
}

.block-column-facilitation .second {
    width: 60%;
}

.image-facilitation {
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.text-facilitation {
    margin: 20px 0 0 0;
    font-weight: 400;
}



/*-- Форма Отпраки Заявки -- */

.title-facilitation {
    text-align: center;
    display: block;
    margin: 30px auto 0 auto;
    color: var(--primaryColor);
    padding: 8px 0;
    width: 50%;
}

.form-block-facilitation {
    text-align: var(--textCenter);
    margin: auto;
    width: 60%;
    margin-bottom: 30px;
}

.block-checkbox-facilitation {
    width: 20px;
    height: 15px;
    margin-top: 20px;
}

.title-checkbox-facilitation {
    font-size: 12px;
    color: var(--primaryColor);
    padding: 20px 0 0 5px;
}


.form-block-facilitation .block-input-facilitation,
.form-block-facilitation button {
    width: 100%;
    border: none;
    padding: 14px;
    border-radius: 3px;
}

.form-block-facilitation .block-input-facilitation {
    border: 2px solid #DADDEC;
    margin: 5px 0 10px;
    font-size: 12px;
    color: #656880;
}

.form-block-facilitation button {
    background-color: var(--primaryColor);
    display: block;
    color: var(--mainWhite);
    font-size: 1rem;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: var(--box-shadow);
    text-transform: uppercase;
    font-size: 12px;
}

.form-block-facilitation button:hover {
    background: #28165f;
    color: white;
    box-shadow: var(--box-shadow);
}

.comment-facilitation textarea {
    width: 500px;
    height: 100px;
}

/* -- Калькулятор -- */

.wrapper-facilitation {
    width: 100%;
    padding: 5px 0 0 40px;
}

.wrapper-facilitation select, input {
    width: 100%;
    padding: 15px 10px;
    border-radius: 3px;
    border-color: rgb(156, 160, 173);
    margin-bottom: 15px;
}

.form-title-facilitation {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    background-color: var(--primaryColor);
    color: var(--mainWhite);
    text-transform: var(--textUp);
    margin-bottom: 20px;
}

.result-block-facilitation {
    display: flex;
    flex-direction: column;
}

.form-facilitation p {
    margin-bottom: 10px;
}

.hide-form-facilitation {
    display: none;
}

.send-order-facilitation {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    background-color: var(--primaryColor);
    color: var(--mainWhite);
    cursor: pointer;
    text-transform: var(--textUp);
}


.form-facilitation select
.form-facilitation button {
    width: 100%;
    border: none;
    padding: 14px;
    border-radius: 3px;
}

.form-facilitation select, input {
    border: 2px solid #DADDEC;
    margin: 5px 0 10px;
    font-size: 12px;
    color: #656880;
}

.form-facilitation button {
    background-color: var(--primaryColor);
    display: block;
    color: var(--mainWhite);
    font-size: 1rem;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: var(--box-shadow);
    text-transform: uppercase;
    font-size: 12px;
}

.form-facilitation button:hover {
    background: #28165f;
    color: white;
    box-shadow: var(--box-shadow);
}

.form-block-facilitation span {
    text-align: center;
    color: var(--mainBlack);
    font-size: 12px;
}

.checkbox-facilitation {
    display: flex;
}

.block-text-facilitation {
    text-transform: capitalize;
    font-size: var(--size12);
    border: 2px solid #DADDEC;
    margin: 5px 0 10px;
    color: #656880;
    padding: 15px 10px;
    text-align: left;
    background-color: white;
}

/* -- Блок с акцией-- */

.text-action-facilitation {
    text-align: center;
    background-color: white;
    padding: 10px 30px;
    border: 2px solid #DADDEC;
    border-radius: 3px;
    margin-bottom: 20px;
}

.expenses-facilitation {
    font-size: var(--size12);
    text-align: left;
    margin-top: 20px;
}

.action-red-facilitation {
    color: red;
    display: block;
    padding-top: 10px;
}

.facilitation-facilitators {
    margin-top: 60px;
}