<script>
    import Navbar from '../components/navbar/Navbar.svelte';
    import Footer from '../components/footer/Footer.svelte';
</script>

<main>
    <div class="container">
        <Navbar />
        <div class="main">
            <slot></slot>
        </div>
    </div>
    <Footer />
</main>