<script>
    import "../components/events/event_details.css";
    import { onMount } from "svelte";
    import eventsAPI from "../api/eventsAPI.js"
    export let id;
    
    let event = {};
    
    onMount(async() => {
        event = await eventsAPI.read(id);
    })
</script>

<div class="events-detail-all">
    
    <div class="events-detail-first">
        <!-- Left Column Image -->
        <div class="left-column">
            <img src={event.image} alt="Картинка мероприятия">
        </div>
        
        
        <!-- Right Column -->
        <div class="right-column">
            
            <!-- Description -->
            <div class="event-detail-description">
                <span>Мероприятие</span>
                <h1>{event.title}</h1>
                <span><img class="event-detail-icons" src="/assets/icons/kalendar.png" alt="kalendar"><p>{event.startDate}</p></span>
                <span><img class="event-detail-icons" src="/assets/icons/geozona.png" alt="geozona"><p>Алматы</p></span>
                <span><img class="event-detail-icons" src="/assets/icons/facilitator.png" alt="facilitator"><p>Иванова Ольга</p></span>
            </div>
            
        </div>
    </div>
    
    <div class="events-detail-second">
        <div class="event-detail-description">
            <p>{event.description}</p>
            <div class="event-detail-button">
                <button class="button-event-detail">Зарегистрироваться</button>
            </div>
        </div>
    </div>
    
</div>