<script>
    import { onMount } from "svelte";
    import "../components/news/detailsNews.css";
    import newsAPI from "../api/newsApi";
    export let id;

    let news = {};

    onMount(async () => {
        news = await newsAPI.read(id);
    });
</script>

<div class="news-details">
    <div class="row">
        <h2 class="news-details-title col-12">{news.title}</h2>
        <div class="news-details-banner-block col-12">
            <div class="news-details-banner col-4 p-0">
                <img src="/assets/news/news.jpg" alt="news" />
            </div>

            <div class="news-details-info col-8">
                <div>
                    <h6 class="news-details-heading-title">Автор:</h6>
                    <span class="news-details-description">{news.author}</span>
                </div>

                <div>
                    <h6 class="news-details-heading-title">Дата публикации:</h6>
                    <span class="news-details-description"
                        >{news.publishedDate}</span
                    >
                </div>
            </div>
        </div>

        <div class="news-details-info">
            <h6 class="news-details-heading-title pl-2">Описание Новости:</h6>
            <p class="description-news-details">
                {news.description}
            </p>
        </div>
    </div>
</div>
