<script>
    import { onMount } from "svelte";
    import "../components/knowledges/details.Knowledges.css";
    import knowledgesAPI from "../api/knowledgesApi"
    export let id;
    
	let knowledge = {};

	onMount(async() => {
		knowledge = await knowledgesAPI.read(id);
	})

</script>


<div class="container">
    <div class="knowledge-details">
        <div class="row">
            <h2 class="knowledge-details-title col-12">{knowledge.title}</h2>
            <div class="knowledge-details-banner-block col-12">
                <div class="knowledge-details-banner col-4 p-0">
                    <img src="/assets/knowledges/knowledges.jpg" alt="knowledge">
                </div>

                <div class="knowledge-details-info col-8">
                    <div>
                        <h6 class="knowledge-details-heading-title">Автор:</h6>
                        <span class="news-details-description">{knowledge.author}</span>
                    </div>

                    <div>
                        <h6 class="knowledge-details-heading-title">Дата публикации:</h6>
                        <span class="knowledge-details-description">{knowledge.publishedDate}</span>
                    </div>

                </div>
            </div>

            <div class="knowledge-details-info">
                <h6 class="knowledge-details-heading-title pl-2">Описание Статьи:</h6>
                <p class="description-knowledge-details">
                    {knowledge.description}
                </p>
            </div>
        </div>
    </div>
</div>