<script>
    import { onMount } from "svelte";
    import "../components/events/events.css";
    import eventsAPI from "../api/eventsAPI.js";
    import { Link } from "svelte-routing";
    import categoriesAPI from "../api/categoriesApi.js";
    
    let events = [];
    
    onMount(async () => {
        events = await eventsAPI.readAll();
    });
    
    async function getByCategory(id) {
        events = await eventsAPI.readByCategory(id);
    }
    
    let categories = [];
    
    onMount(async () => {
        categories = await categoriesAPI.read("events");
    })
    
    import { writable } from 'svelte/store';
    import Modal, { bind } from 'svelte-simple-modal';
    import Filter from '../components/filter/Filter.svelte';
    const modal = writable(null);
    const showModal = () => modal.set(bind(Filter));
    
</script>

<div class="events-all">
    <div class="events-category-button-container-all row">
        {#each categories as category (category.id)}
        <button on:click={getByCategory(category.id)} class="events-category-button-all" name="">{category.title}</button>
        {/each}
    </div>
    <Modal show={$modal}>
        <button class="modal-filter" on:click={showModal}><img class="filter" src="/assets/icons/filter.png" alt="Фильтр"/>Фильтр</button>
    </Modal>
    <div class="row events-information-all">
        {#each events as event (event.id)}
        <div class="event-information-all col-sm-4">
            <img
            class="picture-event-all"
            src={event.image}
            alt="Картина Мероприятия"
            />
            
            <h6 class="information-event-all">
                <span class="answer-info-event-all answer-info-event-all-title">{event.title}</span>
            </h6>
            <br />
            
            <h6 class="information-event-all">
                <span class="answer-info-event-all truncate-text"
                >{event.description}</span
                >
            </h6>
            <br />
            
            <h6 class="information-event-all">
                Дата начала:
                <span class="answer-info-event-all">{event.startDate}</span>
            </h6>
            
            <h6 class="information-event-all">
                Дата завершения:
                <span class="answer-info-event-all">{event.finishDate}</span>
            </h6>
            
            <h6 class="information-event-all">
                Формат:
                <span class="answer-info-event-all">Офлайн</span>
            </h6>
            
            <h6 class="information-event-all">
                Город: <span class="answer-info-event-all">Алматы</span>
            </h6>
            <br />
            <Link
            class="button-information-event-all"
            to="/events/{event.id}"><p>Подробнее</p></Link
            >
        </div>
        {/each}
    </div>
</div>
