<script>
    import "../components/facilitators/facilitators.css";
    
    import { onMount } from "svelte";
    import facilitatorsAPI from "../api/facilitatorsAPI.js";
    
    let facilitators = [];
    
    onMount(async () => {
        facilitators = await facilitatorsAPI.readAll();
    });

    console.log(facilitators);
</script>

<div class="facilitators-container">

        <div>
            <ul class="cards-facilitators row">
                {#each facilitators as facilitator}
                <li class="card-facilitator col-md-4">
                    <div>
                        <a href="/facilitators/{facilitator.id}" class="card-facilitator-photo">
                            <img src="/assets/images/avatar_facilitator_1.jpg" class="card__image" alt="photo" />
                          
                              <div class="card-facilitator-header">            
                                <div class="card-facilitator-header-text">
                                  <h3 class="card-facilitator-title">{facilitator.firstName} {facilitator.lastName}</h3>            
                                  <span class="card-facilitator-status">Фасилитатор</span>
                                </div>
                              </div>
                            
                          </a>  
                    </div>
                </li>        
                {/each}
            </ul>
        </div> 
</div> 