<script>
    import "../components/facilitations/facilitations.css";
    import Facilitators from "../components/home/Facilitators.svelte";
    
    
    let formTitle = "Офлайн фасилитация";
    let offlineFormClass = "result-block-facilitation";
    let onlineFormClass = "result-block-facilitation hide-form-facilitation";
    
    // -> чтоб пользователь не смог ввести пробел или дефиз
    const clickCountPeopleInput = (e) =>{
        if(e.target.value < 1){
            e.target.value = 1;
        }else if (e.target.value == ""){}
    }
    
    // -> реализация смены полей когда меняются темы (для Онлайн формы)
    const clickEventOnline = (e) => {
        if (e.target.value == "consensusBuilding") {
            document.getElementById("consensusBuilding").hidden = false;
            document.getElementById("actionPlanningOnline").hidden = true;
            document.getElementById("strategicSessionOnline").hidden = true;
            document.getElementById("hoursDataOnline").hidden = true;
        } else if (e.target.value == "actionPlanningOnline") {
            document.getElementById("actionPlanningOnline").hidden = false;
            document.getElementById("consensusBuilding").hidden = true;
            document.getElementById("strategicSessionOnline").hidden = true;
            document.getElementById("hoursDataOnline").hidden = true;
        } else if (e.target.value == "strategicSessionOnline") {
            document.getElementById("strategicSessionOnline").hidden = false;
            document.getElementById("actionPlanningOnline").hidden = true;
            document.getElementById("consensusBuilding").hidden = true;
            document.getElementById("hoursDataOnline").hidden = true;
        } else {
            document.getElementById("hoursDataOnline").hidden = false;
            document.getElementById("strategicSessionOnline").hidden = true;
            document.getElementById("actionPlanningOnline").hidden = true;
            document.getElementById("consensusBuilding").hidden = true;
        }
    };
    
    // -> реализация смены полей когда меняются темы (для Офлайн формы)
    const clickEventOffline = (e) => {
        if (e.target.value == "strategicSessionOffline") {
            document.getElementById("strategicSessionOffline").hidden = false;
            document.getElementById("actionPlanningOffline").hidden = true;
            document.getElementById("retrospective-consensus").hidden = true;
            document.getElementById("hoursDataOffline").hidden = true;
        }else if (e.target.value == "actionPlanningOffline" ) {
            document.getElementById("actionPlanningOffline").hidden = false;
            document.getElementById("strategicSessionOffline").hidden = true;
            document.getElementById("retrospective-consensus").hidden = true;
            document.getElementById("hoursDataOffline").hidden = true;
        }else if(e.target.value == "retrospective-consensus"){
            document.getElementById("retrospective-consensus").hidden = false;
            document.getElementById("strategicSessionOffline").hidden = true;
            document.getElementById("actionPlanningOffline").hidden = true;
            document.getElementById("hoursDataOffline").hidden = true;
        }else{
            document.getElementById("hoursDataOffline").hidden = false;
            document.getElementById("retrospective-consensus").hidden = true;
            document.getElementById("strategicSessionOffline").hidden = true;
            document.getElementById("actionPlanningOffline").hidden = true;
        }
    }
    
    // -> реализация смены полей когда меняется формат (для калькулятора)
    const clickOutside = (e) => {
        let allSelect = document.querySelectorAll("select");
        
        if (e.target.value == "online") {
            formTitle = "Онлайн фасилитация";
            onlineFormClass = "result-block-facilitation";
            offlineFormClass =
            "result-block-facilitation hide-form-facilitation";
        } else {
            formTitle = "Офлайн фасилитация";
            onlineFormClass =
            "result-block-facilitation hide-form-facilitation";
            offlineFormClass = "result-block-facilitation";
        }
        
        for (let i = 1; i < allSelect.length; i++) {
            allSelect[i].value = "default-value";
        }
    };
    
    // -> реализация смены полей когда меняется формат (для заявки)
    const clickOutsideSubmission = (e) =>{
        if (e.target.value == "online") {
            document.getElementById("can-join").hidden = false;
            document.getElementById("drive").hidden = true;
        }else{
            document.getElementById("drive").hidden = false;
            document.getElementById("can-join").hidden = true;
        } 
    }
    
</script>

<div class="facilitation">
    <div class="promo-block-facilitation">
        <p class="text-action-facilitation">АКЦИЯ от сообщества "Лаборатория Фасилитации" #LaFa: возможность получить скидку 50%
            на проведение сессий ПЛАНИРОВАНИЯ ДЕЙСТВИЙ при условии совместных PR 
            действий (публикации о проведении фасилитации, запись отзывов участников, 
            проведение совместного эфира с руководителем по результатам сессии)  - 
            собирайте БАБОЧЕК в эфире #LaFa
        </p>
        <div class="block-column-facilitation first">
            <img
            class="image-facilitation"
            src="/assets/facilitation/facilitation.jpg"
            alt="facilitation"
            />
        </div>
        <div class="block-column-facilitation second">
            <div class="wrapper-facilitation">
                <form action="" class="form-facilitation">
                    <!-- <p>Рассчитать предварительную стоимость услуги</p> -->
                    <select
                    on:change={clickOutside}
                    name="select-format"
                    >
                    <option value="default-value" disabled selected
                    >Формат фасилитации</option
                    >
                    
                    <option value="offline">Офлайн формат</option>
                    <option value="online">Онлайн формат</option>
                </select>
                
                <div class={offlineFormClass}>
                    <select on:change={clickEventOffline} name="select-target" >
                        <option value="default-value" disabled selected
                        >Тема/Цель фасилитации</option
                        >
                        <option value="strategicSessionOffline">Стратегическая сессия</option>
                        <option value="actionPlanningOffline">Планирование действий</option>
                        <option value="retrospective-consensus">Ретроспектива прошлого периода</option>
                        <option value="retrospective-consensus">Построение Консенсуса</option>
                        <option >другое</option>
                    </select>
                    
                    <div class="hoursList">
                        <label on:change={clickCountPeopleInput} name="hours">
                            <input min="1" max="40"
                            hidden
                            id = "hoursDataOffline"
                            type="number"
                            placeholder="Сколько часов"
                            name="hours"
                            class="block-input-facilitation"
                            required
                            />
                        </label>
                        
                        <p class="block-text-facilitation" hidden id="strategicSessionOffline">16 часов</p>
                        <p class="block-text-facilitation" hidden id="actionPlanningOffline">8 часов</p>
                        <p class="block-text-facilitation" hidden id="retrospective-consensus">4 часа</p>
                    </div>
                    
                    <select name="drive">
                        <option value="default-value" disabled selected
                        >Необходим выезд за город ?</option
                        >
                        <option value="yes">Да</option>
                        <option value="No">Нет</option>
                    </select>
                    
                    <label on:change={clickCountPeopleInput} name="count-people">
                        <input min="1" max="40"
                        type="number"
                        placeholder="Количество человек"
                        name="count-people"
                        class=" block-input-facilitation"
                        required
                        />
                    </label>
                </div>
                
                <div class={onlineFormClass}>
                    
                    <select on:change={clickEventOnline} id="select">
                        <option value="default-value" disabled selected
                        >Тема/Цель фасилитации</option
                        >
                        <option value="consensusBuilding">Построение Консенсуса</option>
                        <option value="actionPlanningOnline">Планирование действий</option>
                        <option value="strategicSessionOnline">Стратегическая сессия</option>
                        <option >Другое</option>
                    </select>
                    
                    <div class="hoursList">
                        <label on:change={clickCountPeopleInput} name="hours">
                            <input min="1" max="40"
                            hidden
                            id = "hoursDataOnline"
                            type="number"
                            placeholder="Сколько часов"
                            name="hours"
                            class="block-input-facilitation"
                            required
                            />
                        </label>
                        
                        <p class="block-text-facilitation" hidden id="consensusBuilding">2 часа</p>
                        <p class="block-text-facilitation" hidden id="actionPlanningOnline">2-8 часов</p>
                        <p class="block-text-facilitation" hidden id="strategicSessionOnline">4-16 часов</p>
                    </div>
                    
                    <label on:change={clickCountPeopleInput} name="count-people">
                        <input min="0" max="40"
                        type="number"
                        placeholder="Количество человек"
                        name="count-people"
                        class=" block-input-facilitation"
                        required
                        />
                    </label>
                    
                    <select name="can-join" >
                        <option value="default-value" disabled selected
                        >Пользуетесь ли онлайн-платформами? (zoom, и т.п.)
                    </option>
                    <option value="yes">Да</option>
                    <option value="no">Нет</option>
                </select>
            </div>
            
            <button type="submit" class="send-order-facilitation"
            >Рассчитать</button
            >
        </form>
    </div>
    
</div>
<div>
    <p class="expenses-facilitation ">В стоимость включены все расходные материалы для проведения фасилитации и материалы участников.
        График проведения фасилитации: с 10:00 до 18:00(19:00), два кофе-брейка и перерыв на обед.
        <br> <span class="action-red-facilitation">В стоимость НЕ входят: кофе-брейки и обед для участников, аренда зала в соответствии с требования, указанными выше, трансфер и проживание фасилитатора (если сессия не в г. Алматы)</span> 
        <br>При проведении в формате онлайн стоимость может быть увеличена в зависимости от количества участников. Текущая стоимость предполагает до 15 человек участников в формате онлайн и до 20 человек в формате офлайн.
    </p>
</div>
</div>
<div class="block-title-facilitation">
    <h2 class="title-facilitation">Оставьте заявку на фасилитацию и мы свяжемся с вами</h2>
</div>
<div class="form-block-facilitation">
    <form action="" method="POST">
        <div>
            <div class="checkbox-facilitation">
                <input
                class="block-checkbox-facilitation"
                type="checkbox"
                id="checkbox"
                name="checkbox"
                value="checkbox"
                /><span class="title-checkbox-facilitation">
                    Льготная или учебная фасилитация</span
                    >
                </div>
                
                <select
                on:change={clickOutsideSubmission}
                name="select-format"
                class="block-input-facilitation"
                >
                <option value="default-value" disabled selected
                >Формат фасилитации</option
                >
                <option value="offline">Офлайн формат</option>
                <option value="online">Онлайн формат</option>
            </select>
            
            <select class="block-input-facilitation" hidden name="can-join" id="can-join">
                <option value="default-value" disabled selected
                >Пользуетесь ли онлайн-платформами? (zoom, и т.п.)
            </option>
            <option value="yes">Да</option>
            <option value="no">Нет</option>
        </select>
        
        <select class="block-input-facilitation" hidden name="drive" id="drive">
            <option value="default-value" disabled selected
            >Необходим выезд за город ?</option
            >
            <option value="yes">Да</option>
            <option value="No">Нет</option>
        </select>
        
        <label for="organization">
            <input
            type="text"
            placeholder="Наименование организации"
            name="organization"
            class=" block-input-facilitation"
            required
            />
        </label>
        
        <label for="city">
            <input
            type="text"
            placeholder="Город проведения"
            name="city"
            class=" block-input-facilitation"
            required
            />
        </label>
        
        <label for="data-place">
            <input
            type="date"
            placeholder="Дата проведения"
            name="data-place"
            class="block-input-facilitation"
            />
        </label>
        
        <label for="count-people">
            <input
            type="number"
            placeholder="Количество участников"
            name="count-people"
            class="block-input-facilitation"
            required
            />
        </label>
        
        <label for="language">
            <input
            type="text"
            placeholder="Язык проведения"
            name="language"
            class="block-input-facilitation"
            required
            />
        </label>
        
        <label for="budget">
            <input
            type="number"
            placeholder="Предпологаемый бюджет"
            name="budget"
            class=" block-input-facilitation"
            />
        </label>
        
        <label for="goal">
            <input
            type="text"
            placeholder="Цель фасилитации"
            name="goal"
            class=" block-input-facilitation"
            required
            />
        </label>
        
        <label for="fullname">
            <input
            type="text"
            placeholder="Фамилия Имя"
            name="fullname"
            class=" block-input-facilitation"
            required
            />
        </label>
        
        <label for="number">
            <input
            type="number"
            placeholder="Номер телефона"
            name="number"
            class=" block-input-facilitation"
            required
            />
        </label>
        
        <label for="email">
            <input
            type="email"
            placeholder="Почта"
            name="email"
            class=" block-input-facilitation"
            required
            />
        </label>
        
        <label for="preferred-communication">
            <input
            type="text"
            placeholder="Предпочитаемый способ связи"
            name="preferred-communication"
            class=" block-input-facilitation"
            />
        </label>
        
        <label class="comment-facilitation" for="comment">
            <textarea
            class="block-input-facilitation text-comment-facilitation"
            name="message"
            cols="20"
            rows="20"
            placeholder="Оставьте комментарий"
            >
        </textarea>
    </label>
    <button class="send-facilitation btn-facilitation" type="submit"
    >Отправить</button
    >
</div>
</form>
</div>
<div class="facilitation-facilitators">
    <Facilitators />
</div>
</div>
