<script>
	import "../components/home/home.css";
	import Facilitators from "../components/home/Facilitators.svelte";
	import Events from "../components/home/Events.svelte";
	import News from "../components/home/News.svelte";
	import Knowledges from "../components/home/Knowledges.svelte";
	import Slider from "../components/home/Slider.svelte";
</script>


	<div class="home-container">
		<div class="home-container-first">
			<div>
				<Facilitators />
			</div>
			
			<div>
				<Slider />
			</div>
			
			<div class="lidmagnit-mobile">
				<div class="lid-magnit">
					<div class="lid-magnit-content">
						<div class="row">
							<div class="col-md-6">
								<img src="/assets/images/events.png" alt="image" />
							</div>
							<div class="col-md-4">
								<h2>Дарим чек-лист за подписку</h2>
								<p>
									Делимся только важными и
									полезными материалами для фасилитаторов.
								</p>
								<form action="">
									<label for="name">
										<input
										name="fullname"
										class="name"
										type="text"
										placeholder="Имя"
										/>
									</label>
									
									<label for="email">
										<input
										name="email"
										class="email"
										type="email"
										placeholder="Почта"
										/>
									</label>
									
									<label for="phoneNumber">
										<input
										name="phoneNumber"
										class="phoneNumber"
										type="text"
										placeholder="Телефон"
										/>
									</label>
									
									<button type="submit">Подписаться</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div>
				<Events />
			</div>

		</div>
		
		<div class="home-container-second">
			<News />
			<Knowledges />
		</div>
		
	</div>
