<script>
    import { onMount } from "svelte";
    import { Link } from "svelte-routing";
    import "../components/knowledges/knowledges.css";
    import knowledgesAPI from "../api/knowledgesApi";
    import categoriesAPI from "../api/categoriesApi";
    import Tags from "svelte-tags-input";
    import facilitatorsAPI from "../api/facilitatorsAPI";

    let tag = "";

    function handleTags(event) {
        tag = event.detail.tags;
    }

    const userAutocomplete = async () => {
       return facilitatorsAPI.readAll();
    }

    let knowledges = [];

    onMount(async () => {
        knowledges = await knowledgesAPI.readAll();
    });

    async function getAll() {
        knowledges = await knowledgesAPI.readAll();
    }


    async function getByCategory(id) {
        knowledges = await knowledgesAPI.readByCategory(id);
    }


    async function getByAuthor(id) {
        knowledges = await knowledgesAPI.readByAuthor(id);
    }


    let categories = [];

    onMount(async () => {
        categories = await categoriesAPI.read("knowledges")
    })


</script>

<div class="knowledges-all">
    <div class="row">
        <button class="button-information-knowledge-all-href" on:click={getAll}><p>Все</p></button>
        <div class="block-knowledges-search">
            <Tags on:tags={handleTags} autoComplete={userAutocomplete} autoCompleteKey={"lastName"} placeholder={"Поиск по автору статьи"} maxTags={1}/>
            {#each tag as user}
                <p>{user.firstName} {user.lastName}</p>
                <button on:click={getByAuthor(user.id)} class="knowledges-category-button-all" >Найти статьи автора</button>
            {/each}
        </div>
    </div>


    <div class="knowledges-container-all">
        <div class="knowledges-category-button-container-all row">
            {#each categories as category (category.id)}
                <button on:click={getByCategory(category.id)} class="knowledges-category-button-all" name="">{category.title}</button>
            {/each}
        </div>
    </div>


    <div class="row knowledges-information-all">
        {#each knowledges as knowledge (knowledge.id)}
            <div class="knowledge-information-all col-sm-4">
                <img class="picture-knowledge-all" src={knowledge.image} alt="Картина Базы знаний"/>

                <h6 class="information-knowledge-all">
                    <span class="answer-title-knowledge-all">{knowledge.title}</span>
                </h6>
                <br />

                <h6 class="information-knowledge-all">
                    <span class="answer-info-knowledge-all">{knowledge.description}</span>
                </h6>
                <br />
                <Link class="button-information-knowledge-all" to="/knowledges/{knowledge.id}"><p>Подробнее</p></Link>
            </div>
        {/each}
    </div>

</div>