<script>
  import "../components/login/login.css";
</script>

<div class="login">
  <div class="login-container">
    <div class="title_login">
      <h3>Вход</h3>
    </div>
    <form class="login-form" action="" method="post">
      <label for="username">
        <input name="email" id="username" placeholder="Username" type="text" />
      </label>

      <label for="password">
        <input
          name="password"
          id="password"
          placeholder="Password"
          type="password"
        />
      </label>

      <button type="submit">Войти</button>
    </form>
  </div>
</div>
