<script>
    import { onMount } from "svelte";
    import { Link } from "svelte-routing";
    import "../components/news/news.css";
    import newsAPI from "../api/newsApi";
    import Tags from "svelte-tags-input";
    import facilitatorsAPI from "../api/facilitatorsAPI";

    let tag = "";

    function handleTags(event) {
        tag = event.detail.tags;
    }

    const userAutocomplete = async () => {
        return await facilitatorsAPI.readAll();
    }

    let news = [];

    onMount(async () => {
        news = await newsAPI.readAll();
    });


    async function getAll() {
        news = await newsAPI.readAll();
    }


    async function getByAuthor(id) {
        news = await newsAPI.readByAuthor(id);
    }

</script>

<div class="news-all">
    <div class="news-container-all-autocomplete">
        <div class="row" style="margin-bottom: 30px">
            <button class="button-information-new-all-href" on:click={getAll}><p>Все</p></button>
            <div class="block-news-search">
                <Tags on:tags={handleTags} autoComplete={userAutocomplete} autoCompleteKey={"lastName"} placeholder={"Поиск по автору статьи"}  maxTags={1}/>
                {#each tag as user}
                    <p>{user.firstName} {user.lastName}</p>
                    <button on:click={getByAuthor(user.id)} class="news-category-button-all" >Найти статьи автора</button>
                {/each}
            </div>
        </div>
    </div>

    <div class="row news-information-all">
        {#each news as nw (nw.id)}
            <div class="new-information-all col-sm-4">
                <img class="picture-new-all" src={nw.image} alt="Картина Новостей"/>

                <h6 class="information-new-all">
                    <span class="answer-title-new-all">{nw.title}</span>
                </h6>
                <br />

                <h6 class="information-new-all">
                    <span class="answer-info-new-all">{nw.description}</span>
                </h6>
                <br />
                <Link class="button-information-new-all" to="/news/{nw.id}"><p>Подробнее</p></Link>
            </div>
        {/each}
    </div>
</div>