<script>
    import "../components/pages_of_facilitators/pages_of_facilitators.css";
    import Certificates from "../components/pages_of_facilitators/MyCertificates.svelte";
    
    import { onMount } from "svelte";
    import usersAPI from "../api/facilitatorsAPI.js";
    export let id;
    
    let user = {};
    
    onMount(async () => {
        user = await usersAPI.read(id);
    });
    
    let activeTab = Certificates;
</script>

<div class="pages-of-facilitators">
    
    <div class="pages-of-facilitators-first">
        <!-- Left Column Image -->
        <div class="pages-of-facilitators-left-column">
            <img src={user.photo} alt="Аватар">
        </div>
        
        
        <!-- Right Column -->
        <div class="pages-of-facilitators-right-column">
            
            <!-- Description -->
            <div class="pages-of-facilitators-description">
                <h1>{user.lastName} {user.firstName}</h1>
                <span><img class="pages-of-facilitators-icons" src="/assets/icons/profession.png" alt="profession"><p>Фасилитатор</p></span>
                <span><img class="pages-of-facilitators-icons" src="/assets/icons/email.png" alt="email"><p>{user.email}</p></span>
                <span><img class="pages-of-facilitators-icons" src="/assets/icons/phone.png" alt="phone"><p>{user.phoneNumber}</p></span>
            </div>
            
        </div>
    </div>
    
    <div class="pages-of-facilitators-button-container">
        <button class="pages-of-facilitators-button first" on:click={() => activeTab = Certificates}>Сертификаты</button>
        <button class="pages-of-facilitators-button second" on:click={() => activeTab = Certificates}>Навыки</button>
    </div>
    
    <svelte:component this={activeTab}/>
    
</div>