<script>
    import { Navigation, Pagination, Scrollbar, A11y } from "swiper";
    import { Swiper, SwiperSlide } from "swiper/svelte";
    import "swiper/css";
    import "swiper/css/navigation";
    import "../components/places/places.css";
</script>

<div class="places">
    <div class="container-places">
        <div class="column-one-places">
            <h2 class="title-places">Фильтрация</h2>
            <div class="places-block" />
            <div class="places-block" />
        </div>
        <div class="column-two-places">
            <h2 class="title-places">Общий текст для мест</h2>

            <div class="text-block-places">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Maiores alias quibusdam voluptatem optio facere labore hic earum
                veritatis doloribus odio perspiciatis et, aliquam similique
                recusandae voluptates dolores quaerat pariatur placeat, commodi
                tempora! Deleniti id, beatae nulla ut cupiditate illo
                exercitationem obcaecati quod temporibus. Iure voluptates error
                recusandae sint. Quo, dolor?

                <button class="btn-places">Добавить помещение</button>
            </div>
            <div class="images-block">
                <img src="/assets/places/facilitation.jpg" alt="" />
                <img src="/assets/places/facilitation.jpg" alt="" />
                <img src="/assets/places/facilitation.jpg" alt="" />
            </div>
            <div class="slider-block">
                <div class="swiper">
                    <Swiper
                        navigation={true}
                        class="mySwiper"
                        modules={[Navigation, Pagination, Scrollbar, A11y]}
                        spaceBetween={50}
                        slidesPerView={1}
                        pagination={{ clickable: true }}
                        scrollbar={{ draggable: true }}
                        on:slideChange={() => console.log("slide change")}
                        on:swiper={(e) => console.log(e.detail[0])}
                    >
                        <SwiperSlide
                            ><img
                                class="images-slider"
                                src="/assets/places/facilitation.jpg"
                                alt=""
                            /></SwiperSlide
                        >
                        <SwiperSlide
                            ><img
                                class="images-slider"
                                src="/assets/places/facilitation.jpg"
                                alt=""
                            /></SwiperSlide
                        >
                        <SwiperSlide
                            ><img
                                class="images-slider"
                                src="/assets/places/facilitation.jpg"
                                alt=""
                            /></SwiperSlide
                        >
                    </Swiper>
                </div>
            </div>

            <div class="information-places">
                <h6 class="block-information-places">
                    Название организации (отеля, базы):
                    <span class="block-answer-places">Гостиница Казахстана</span
                    >
                </h6>
                <br />

                <h6 class="block-information-places">
                    Стоимость за день:
                    <span class="block-answer-places">200 тг</span>
                </h6>
                <br />

                <h6 class="block-information-places">
                    Стоимость за час:
                    <span class="block-answer-places">20 тг</span>
                </h6>
                <br />

                <h6 class="block-information-places">
                    Стоимость за человека:
                    <span class="block-answer-places">2 тг</span>
                </h6>
                <br />

                <h6 class="block-information-places">
                    Скидка для членов lafa.community:
                    <span class="block-answer-places">100 %</span>
                </h6>
                <br />

                <h6 class="block-information-places">
                    Аренду предоставляет (компания):
                    <span class="block-answer-places">Tele 2</span>
                </h6>
                <br />

                <h6 class="block-information-places">
                    Телефон:
                    <span class="block-answer-places">0-(000)-00-00-00</span>
                </h6>
                <br />

                <h6 class="block-information-places">
                    E-mail:
                    <span class="block-answer-places"
                        >lafa.community@mail.com</span
                    >
                </h6>
                <br />

                <h6 class="block-information-places">
                    Город:
                    <span class="block-answer-places">Алматы</span>
                </h6>
                <br />

                <h6 class="block-information-places">
                    Адрес:
                    <span class="block-answer-places">Абая Ленина</span>
                </h6>
                <br />

                <h6 class="block-information-places">
                    Площадь зала (только цифры):
                    <span class="block-answer-places">50 кв</span>
                </h6>
                <br />

                <h6 class="block-information-places">
                    Количество человек (тренинг, фасилитация):
                    <span class="block-answer-places">10 000</span>
                </h6>
                <br />

                <button class="btn-places block-button-details-places">
                    Подробнее
                </button>
            </div>
        </div>
    </div>
</div>
