<script>
    import { Navigation, Pagination, Scrollbar, A11y } from "swiper";
    import { Swiper, SwiperSlide } from "swiper/svelte";
    import "swiper/css";
    import "swiper/css/navigation";
    import "../components/places/place_details.css";
</script>

<div class="places">
    <div class="column-two-place">
        <div class="images-block">
            <Swiper
                slidesPerView={3}
                spaceBetween={50}
                navigation={true}
                modules={[Navigation, Pagination, Scrollbar, A11y]}
            >
                <SwiperSlide>
                    <img src="/assets/places/facilitation.jpg" alt="" />
                </SwiperSlide>
                <SwiperSlide>
                    <img src="/assets/places/facilitation.jpg" alt="" />
                </SwiperSlide>
                <SwiperSlide>
                    <img src="/assets/places/facilitation.jpg" alt="" />
                </SwiperSlide>
                <SwiperSlide>
                    <img src="/assets/places/facilitation.jpg" alt="" />
                </SwiperSlide>
                <SwiperSlide>
                    <img src="/assets/places/facilitation.jpg" alt="" />
                </SwiperSlide>
                <SwiperSlide>
                    <img src="/assets/places/facilitation.jpg" alt="" />
                </SwiperSlide>
                <SwiperSlide>
                    <img src="/assets/places/facilitation.jpg" alt="" />
                </SwiperSlide>
                <SwiperSlide>
                    <img src="/assets/places/facilitation.jpg" alt="" />
                </SwiperSlide>
            </Swiper>
        </div>
        <div class="slider-block">
            <div class="swiper">
                <Swiper
                    navigation={true}
                    class="mySwiper"
                    modules={[Navigation, Pagination, Scrollbar, A11y]}
                    spaceBetween={50}
                    slidesPerView={1}
                    pagination={{ clickable: true }}
                    scrollbar={{ draggable: true }}
                    on:slideChange={() => console.log("slide change")}
                    on:swiper={(e) => console.log(e.detail[0])}
                >
                    <SwiperSlide
                        ><img
                            class="images-slider"
                            src="/assets/places/facilitation.jpg"
                            alt=""
                        /></SwiperSlide
                    >
                    <SwiperSlide
                        ><img
                            class="images-slider"
                            src="/assets/places/facilitation.jpg"
                            alt=""
                        /></SwiperSlide
                    >
                    <SwiperSlide
                        ><img
                            class="images-slider"
                            src="/assets/places/facilitation.jpg"
                            alt=""
                        /></SwiperSlide
                    >
                    <SwiperSlide
                        ><img
                            class="images-slider"
                            src="/assets/places/facilitation.jpg"
                            alt=""
                        /></SwiperSlide
                    >
                </Swiper>
            </div>
        </div>

        <div class="information-place">
            <h6 class="block-information-place">
                Название организации (отеля, базы):
                <span class="block-answer-place">Гостиница Казахстана</span>
            </h6>
            <br />

            <h6 class="block-information-place">
                Стоимость за день:
                <span class="block-answer-place">200 тг</span>
            </h6>
            <br />

            <h6 class="block-information-place">
                Стоимость за час:
                <span class="block-answer-place">20 тг</span>
            </h6>
            <br />

            <h6 class="block-information-place">
                Стоимость за человека:
                <span class="block-answer-place">2 тг</span>
            </h6>
            <br />

            <h6 class="block-information-place">
                Скидка для членов lafa.community:
                <span class="block-answer-place">100 %</span>
            </h6>
            <br />

            <h6 class="block-information-place">
                Аренду предоставляет (компания):
                <span class="block-answer-place">Tele 2</span>
            </h6>
            <br />

            <h6 class="block-information-place">
                Телефон:
                <span class="block-answer-place">0-(000)-00-00-00</span>
            </h6>
            <br />

            <h6 class="block-information-place">
                E-mail:
                <span class="block-answer-place">lafa.community@mail.com</span>
            </h6>
            <br />

            <h6 class="block-information-place">
                Город:
                <span class="block-answer-place">Алматы</span>
            </h6>
            <br />

            <h6 class="block-information-place">
                Адрес:
                <span class="block-answer-place">Абая Ленина</span>
            </h6>
            <br />

            <h6 class="block-information-place">
                Площадь зала (только цифры):
                <span class="block-answer-place">50 кв</span>
            </h6>
            <br />

            <h6 class="block-information-place">
                Количество человек (тренинг, фасилитация):
                <span class="block-answer-place">10 000</span>
            </h6>
            <br />

            <button class="btn-place block-button-details-place">
                Оставить Комментарий
            </button>
        </div>
    </div>
</div>
