<script>
  import "../components/registration/registration.css";
</script>

<div class="registration">
  <div class="registration-container">
    <div class="title_registration">
      <h3>Вступить в сообщество</h3>
    </div>
    <form class="registration-form">
      <label class="lf--label" for="username">
        <input
          name="email"
          id="username"
          class="lf--input"
          placeholder="Username"
          type="text"
        />
      </label>

      <label class="lf--label" for="surname">
        <input
          name="lastName"
          id="lastName"
          class="lf--input"
          placeholder="Surname"
          type="text"
        />
      </label>

      <label class="lf--label" for="name">
        <input
          name="firstName"
          id="name"
          class="lf--input"
          placeholder="Name"
          type="text"
        />
      </label>

      <label class="lf--label" for="phoneNumber">
        <input
          name="phoneNumber"
          id="phoneNumber"
          class="lf--input"
          placeholder="Phone number"
          type="text"
        />
      </label>

      <label class="lf--label" for="password">
        <input
          name="password"
          id="password"
          class="lf--input"
          placeholder="Password"
          type="password"
        />
      </label>

      <label class="lf--label" for="password">
        <input
          name="password"
          id="password"
          class="lf--input"
          placeholder="Password"
          type="password"
        />
      </label>

      <button type="submit">Вступить</button>
    </form>
  </div>
</div>
