<script>
    import "./pages_of_facilitators.css";
</script>

<div class="block-cards-pages_of_facilitators">
    <div>
        <img class="photo-pages_of_facilitators" src="/assets/cabinet/certificate.jpg" alt="photo-3">
    </div>
    <div >
        <img class="photo-pages_of_facilitators" src="/assets/cabinet/certificate.jpg" alt="photo-2">
    </div>
    <div>
        <img class="photo-pages_of_facilitators" src="/assets/cabinet/certificate.jpg" alt="photo-1">
    </div>
    <div>
        <img class="photo-pages_of_facilitators" src="/assets/cabinet/certificate.jpg" alt="photo-1">
    </div>
</div>