.pages-of-facilitators {
    margin-top: 30px;
    width: 100%;
}

.pages-of-facilitators-first {
    display: flex;
    background-color: var(--mainWhite);
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
}

.pages-of-facilitators-second {
    background-color: var(--mainWhite);
    padding: 20px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
}

.pages-of-facilitators-icons {
    width: 30px;
    margin-right: 20px;
}

.pages-of-facilitators-left-column {
    width: 45%;
    position: relative;
}

.pages-of-facilitators-left-column img {
    width: 100%;
    border-radius: 8px;
    padding: 2px 2px 2px 2px;
}

.pages-of-facilitators-right-column {
    width: 35%;
    margin-left: 5%;
}

.pages-of-facilitators-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}

.pages-of-facilitators-description h1 {
    font-weight: 300;
    font-size: 36px;
    color: var(--primaryColor);
    letter-spacing: -2px;
    padding: 20px 0;
}

.pages-of-facilitators-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
}

.pages-of-facilitators-description span {
    font-size: 12px;
    color: var(--primaryColor);
    letter-spacing: 1px;
    text-decoration: none;
    display: flex;
    padding-bottom: 20px;
}

.pages-of-facilitators-button-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.pages-of-facilitators-button {
	background-color: var(--mainWhite);
	color: var(--primaryColor);
	font-size: 12px;
	cursor: pointer;
	padding: 10px 170px;
	text-transform: uppercase;
}

.pages-of-facilitators-button:hover {
	background: rgb(237, 242, 246);
	color: var(--mainBlack);
	box-shadow: var(--box-shadow);
	text-transform: uppercase;
	border-bottom: 2px var(--primaryColor) solid;
}

.pages-of-facilitators-button .first {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
    width: 60%;
}

.pages-of-facilitators-button .second {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
    width: 60%;
}

.block-cards-pages_of_facilitators {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 20px;
}


.photo-pages_of_facilitators {
    height: 220px;
    width: 180px;
}