<script>
    const second = 1000;
    const minute = second * 60;
    const hour = minute * 60;
    const day = hour * 24;

    const openningDate = "05/05/2022";
    const countdownDate = new Date(openningDate).getTime();

    let days, hours, minutes, seconds;

    setInterval(() => {
            const now = new Date().getTime();
            const distance = countdownDate - now;

            days = Math.floor(distance / (day));
            hours = Math.floor((distance % (day)) / (hour));
            minutes = Math.floor((distance % (hour)) / (minute));
            seconds = Math.floor((distance % (minute)) / second);
        }
    )
</script>

<div class="container">
    <img src="/assets/images/logo.svg" class="logo" alt="lafa-logo" />

    <div class="countdown">
        <h1>Сайт находится в разработке</h1>
        <ul>
            <li>
                <span>{days}</span> Дней
            </li>
            <li>
                <span>{hours}</span> Часов
            </li>
            <li>
                <span>{minutes}</span> Минут
            </li>
            <li>
                <span>{seconds}</span> Секунд
            </li>
        </ul>
    </div>

    <div class="nav-icons">
            <a href="https://wa.me/77019599795" class="nav-icon" >
                <img class="icon"  src="/assets/icons/whatsapp.svg" alt="icon-whatsapp">
            </a>
            <a href="https://t.me/panna_lafa" class="nav-icon">
                <img class="icon"  src="/assets/icons/telegram.svg" alt="icon-telegram">
            </a>
    </div>
</div>

<style>
    .container {
        align-items: center;

        color: #381F82;
        margin: 0 auto;
        padding: 0;
        text-align: center;

        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logo {
        max-width: 300px;
        width: 100%;

        max-height: 300px;
        height: 100%;
    }

    .nav-icons {
        display: flex;
    }

    .icon {
        width: 35px;
        height: 35px;

        background-color: #381F82;

        border-radius: 50%;
    }

    .nav-icon {
        padding: 10px;

        background-color: #381F82;

        border-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    }

    .nav-icon:first-child{
        margin-right: 5px;
    }

    div {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    h1 {
        letter-spacing: .125rem;
        text-transform: uppercase;
    }

    li {
        display: inline-block;
        font-size: 1.5em;
        list-style-type: none;
        padding: 1em;
        text-transform: uppercase;
    }

    li span {
        display: block;
        font-size: 4.5rem;
    }

    @media all and (max-width: 768px) {
        h1 {
            font-size: calc(1.5rem * var(--smaller));
        }

        li {
            font-size: calc(1.125rem * var(--smaller));
        }

        li span {
            font-size: calc(3.375rem * var(--smaller));
        }
    }
</style>