<script>
    // router
    import { Router, Route, Link } from "svelte-routing";

    //layout
    import Layout from "./routes/__layout.svelte";

    //pages
    import Home from "./routes/Home.svelte";
    import Facilitations from "./routes/Facilitations.svelte";
    import Login from "./routes/Login.svelte";
    import Registration from "./routes/Registration.svelte";
    import Events from "./routes/Events.svelte";
    import DetailsEvent from "./routes/DetailsEvent.svelte";
    import News from "./routes/News.svelte";
    import DetailsNews from "./routes/DetailsNews.svelte";
    import Knowledges from "./routes/Knowledges.svelte";
    import DetailsKnowledges from "./routes/DetailsKnowledges.svelte";
    import Places from "./routes/Places.svelte";
    import DetailsPlaces from "./routes/Place_details.svelte";
    import Cabinet from "./components/cabinet/Cabinet.svelte";
    import PagesOfFacilitators from "./routes/PagesOfFacilitators.svelte";
    import Facilitators from "./routes/Facilitators.svelte";
</script>

<Layout>
    <Router>
        <Route path="/" component={Home} />
        <Route path="/login" component={Login} />
        <Route path="/registration" component={Registration} />
        <Route path="/events" component={Events} />
        <Route path="/facilitations" component={Facilitations} />
        <Route path="/events/:id" let:params><DetailsEvent id={params.id} /></Route>
        <Route path="/news" component={News} />
        <Route path="/news/:id" let:params><DetailsNews id={params.id} /></Route>
        <Route path="/knowledges" component={Knowledges} />
        <Route path="/knowledges/:id" let:params><DetailsKnowledges id={params.id} /></Route>
        <Route path="/places" component={Places} />
        <Route path="/places/place_details" component={DetailsPlaces} />
        <Route path="/cabinet" component={Cabinet} />
        <Route path="/facilitators" component={Facilitators} />
        <Route path="/facilitators/:id" let:params><PagesOfFacilitators id={params.id} /></Route>
    </Router>
</Layout>
