#app { height: 100% }

:root {
  --primaryColor: #381f84; 
  --mainWhite: #fff; 
  --maxWidth: 1170px;  
  --textCenter: center;
  --borderColor: #d4cfcb solid 1px;
  --size12: 12px;
  --colorGreen: #6aa350;
  --paddingSize: 0.25rem 0.5rem;
}

/* -- swiper -- sloder -- */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: var(--textCenter);
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: var(--textCenter);
  -ms-flex-pack: var(--textCenter);
  -webkit-justify-content: var(--textCenter);
  justify-content: var(--textCenter);
  -webkit-box-align: var(--textCenter);
  -ms-flex-align: var(--textCenter);
  -webkit-align-items: var(--textCenter);
  align-items: var(--textCenter);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* -- block Place -- */

.container-places {
  width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.column-one-places {
  width: 200px;
  margin-right: 10px;
  padding: 20px;
  padding: 0 20px;
}

.column-two-places {
  width: 100%;
}

.images-block {
  display: flex;
}

.text-block-places,
.images-block {
  margin-bottom: 20px;
}

.images-block img {
  width: 250px;
  padding-right: 20px;
}

.slider-block {
  display: none;
  width: 100%;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .container-places {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .column-one-places {
    width: 100%;
    margin-bottom: 20px;
  }

  .images-block {
    display: none;
  }

  .slider-block {
    display: block;
  }

  .images-slider {
    width: 100%;
    border-radius: 30px;
  }
}

.places {
  margin-top: 40px;
  padding: 0;
  color: var(--primaryColor);
  font-size: 14px;
  background: var(--mainWhite);
 
}

.title-places {
  display: inline-block;
  margin-right: 0.5rem;
  font-size: 14px;
  color: var(--colorGreen);
  padding: var(--paddingSize);
  margin-bottom: 10px;
}

.places-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0 20px;
  border-top: var(--borderColor);
}

.text-block-places {
  display: inline-block;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: var(--size12);
  padding: var(--paddingSize);
  text-align: left;
}

.btn-places {
  display: block;
  margin: 20px 0 40px auto;
  padding: 5px 12px;
  font-size: var(--size12);
  background-color: var(--primaryColor);
  color: var(--mainWhite);
  border-radius: 5px;
  width: auto;
  cursor: pointer;
  text-transform: uppercase;
}


/* -- information -- */

.information-places {
  display: inline-block;
  font-weight: 400;
}

.block-information-places {
  font-size: 13px;
  line-height: 15px;
}

.block-answer-places {
  font-size: 13px;
  color: var(--colorGreen);
  line-height: 15px;
}

.block-button-details-places {
  margin: 5px 0 10px 0;
}