<script>
    import "./aboutCompany.css";
    import LidMagnit from "../home/LidMagnit.svelte";
</script>

<div class="container">
    <div class="about-company">
        <div class="row">
            <h2 class="about-company-title col-12">О компании</h2>
            <div class="banner-block col-12">
                <div class="banner col-4 p-0"> 
                    <img src="../assets/images/event_details_banner.jpg" alt="about-company">
                </div>
                
                <div class="about-company-info col-8">
                    <div>
                        <h6 class="heading-title">Lafa.Community</h6>
                    </div>
                    
                    <div>
                        <h6 class="heading-title">Директор: _________</h6>
                    </div>
                </div>
            </div>
            
            <div class="about-company-info">
                <h6 class="heading-title pl-2">Наша цель:</h6>
                <p class="description-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam totam numquam unde repellendus! Nesciunt ullam aspernatur eaque excepturi labore eius consectetur perspiciatis reprehenderit nisi dignissimos assumenda porro saepe temporibus voluptas architecto minima vel ducimus, aperiam ea tenetur! A reprehenderit velit provident assumenda impedit et, quae possimus nisi, aut molestiae exercitationem harum beatae ipsum! Iste ducimus exercitationem deleniti voluptatum modi repellat rerum vero laudantium atque sit, maiores asperiores id dolore praesentium nobis earum ullam iure et adipisci soluta. Sit eum dolorem delectus explicabo quod recusandae veniam nesciunt in quis atque ex, magnam iste eveniet dignissimos itaque provident rerum. Ipsum, obcaecati numquam placeat dolore qui beatae deserunt rem inventore sunt enim assumenda, expedita quisquam. Provident vero ut fugiat consequatur corporis sapiente iusto? Eius voluptatum perferendis nobis saepe quaerat esse error. Dolorem, minus eius atque neque commodi sunt consequuntur pariatur, illo perferendis impedit aspernatur distinctio temporibus. Assumenda veritatis voluptatum voluptas nam veniam quia.
                </p>
            </div>
        </div>
    </div>
</div>

<LidMagnit />