:root {
    --primaryColor: #381f84; 
    --mainWhite: #fff; 
    --maxWidth: 1170px;  
    --widthAdaptiv: 50%;
    --textUp: uppercase;
    --textCenter: center;
    --borderColor: #d4cfcb solid 1px;
    --size12: 12px;
    --colorGreen: #6aa350;
    --paddingSize: 0.25rem 0.5rem;
    --heightSize: 10em;
}

.about-company {
    margin-bottom: 60px;
}

.about-company-info {
    margin-top: 60px;
}

.about-company-title {
    margin-right: 0.5rem;
    font-size: 14px;
    color: var(--colorGreen);
    padding: var(--paddingSize);
    margin-top: 20px;
}

.banner-block {
    display: flex;
}

.banner img{
    border-radius: 30px;
    width: 100%;
    height: 100%;
}

.description-text {
    margin-right: 0.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 12px;
    padding: var(--paddingSize);
    text-align: justify;
}

.heading-title {
    font-size: 13px;
    display: inline-block;
    color: var(--primaryColor);
}

.heading-description {
    font-size: 13px;
    margin-right: 0.5rem;
    color: var(--colorGreen);
    font-weight: bold;
}