.registration {
    margin: 80px 0 80px;
}

.title_registration h3 {
    padding-bottom: 10px;
    border-bottom: 2px solid #E5EDEA; 
}

.registration_login h3:after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 30%;
    height: 4px;
    background: var(--primaryColor);
}

h3 {
    font-size: 20px;
    letter-spacing: 1px;
    max-width: 320px;
    width: 100%;
    position: relative;
    display: inline-block;
    color:black;
}

.registration-form {
    width: 60%;
    padding: 2em;
    position: relative;
    background: rgba(black, .15);  
}

.registration::before {
    content: '';
    position: absolute;
    top: -2px; left: 0;
    height: 2px; width: 100%;  
}

.registration input,
.registration button {
    width: 100%;
	border: none;
	padding: 14px;
	border-radius: 3px;
}

.registration input {
	border: 2px solid #DADDEC;
	margin: 5px 0 10px;
	font-size: 1rem;
	color: #656880;
}

.registration button {
	background-color: var(--primaryColor);
	display: block;
	color: white;
	font-size: 1rem;
	cursor: pointer;
	border-radius: 6px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	text-transform: uppercase;
	font-size: .81rem;
}

.registration button:hover {
	background: white;
	color: black;
}