/* 
====== 
Variables 
======
*/
:root {
	--primaryFont: 'Century Gothic Regular';
	--mainBlack: black;
	--mainBackground: rgb(237, 242, 246);
	--primaryColor: #381f84; 
	--mainWhite: white; 
	--maxWidth: 1400px;  
	--box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
	--footer-height: 140px;
	--navbar-height: 30px;
}
/* 
====== 
Global Styles 
====== 
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--primaryFont);
}

body {
	font-family: var(--primaryFont);
	color: var(--mainBlack);
	background: var(--mainWhite);
	line-height: 1.4;
	background-color: var(--mainBackground);
}
.navbar {
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar {
	position: relative;
	top: 0;
}

.container {
	margin-top: 30px !important;
	width: 100%;
	min-height: 90vh;
	display: flex;
}

.header {
	width: 20%;
}

.main {
	max-width: 80%;
	margin-left: 20%;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: var(--mainBlack);
}

img {
	width: 100%;
	display: block;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.answer-no-data {
	color: var(--primaryColor);
	font-size: 10px;
	text-align: center;
}

.truncate-text {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	line-height: 1.3em;
	height: 3.9em;
}

.truncate-text p {
	font-size: 12px;
	color: var(--mainBlack);
}

.filter {
	width: 15px;
	margin-right: 10px;
}

.modal-filter {
	display: flex;
	margin: 10px 0 10px -15px;
	border-radius: 8px;
	padding: 5px 10px;
	font-size: 12px;
	cursor: pointer;
	border: 1px solid var(--primaryColor);
}