footer {
    margin-top: 50px;
    width: 100%;
    bottom: 0;
    background-color: #282d32;
    display: flex;
	align-items: center;
	justify-content: center;
}

footer h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 12px;
    color: white;
}

footer ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 12px;
    margin-bottom: 0;
}

footer ul a {
    color: var(--mainWhite) !important;
    text-decoration: none;
    font-size: 12px;
}

@media (max-width: 767px) {
    footer {
        text-align: center;
        padding-bottom: 20px;
    }
}

footer .item.text {
    margin-bottom: 36px;
}

@media (max-width: 767px) {
    footer .item.text {
        margin-bottom: 0;
    }
}

footer .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer {
    padding: 20px 0;
    color: var(--mainWhite);
    width: 35%;
}