<script>
    import "./footer.css";
</script>

<footer>
        <div class="footer">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Услуги</h3>
                    <ul>
                        <li><a href="/facilitations">Фасилитация</a></li>
                        <li><a href="/store">Магазин</a></li>
                        <li><a href="/events">Мероприятия</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h3>О нас</h3>
                    <ul>
                        <li><a href="/about">О сообществе</a></li>
                        <li><a href="/contacts">Контакты</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h3>Информация</h3>
                    <ul>
                        <li><a href="/facilitators">База фасилитаторов</a></li>
                        <li><a href="/knowledges">База знаний</a></li>
                        <li><a href="/places">База помещений</a></li>
                        <li><a href="/news">Новости</a></li>
                    </ul>
                </div>
            </div>
        </div>
</footer>