<script>
    import "./comments.css";
    import { onMount } from 'svelte';
    
    export let entityType;
    export let entityId;
    
    console.log(entityId, entityType);
    
    import commentsAPI from "../../api/commentsApi.js";
    
    let comments = [];
    
    onMount(async () => {
        comments = await commentsAPI.readAll(entityType, entityId);
    });
    console.log(comments);
    
    let responseComment;
    let commentOfUser = '';
    let email = 'anna@gmail.com';
    let isApprove = false;
    
    async function addComment() {
        responseComment = {
            comment: commentOfUser,
            email: email,
            entityId: entityId,
            entityType: entityType,
            isApprove: isApprove
        };
        
        responseComment = commentsAPI.create(responseComment);
        console.log(responseComment);
    }
    
</script>

<div class="comments">
    <div class="d-flex justify-content-center row">
        <div class="d-flex flex-column col-md-12">
            <form class="add-comment-section">
                <div class="form-control-first">
                    <textarea
                    class="commentOfUser"
                    placeholder="Добавить комментарий" bind:value={commentOfUser}/>
                </div>
                <input hidden name="email"/>
                <input hidden name="entityType" bind:value={entityType}/>
                <input hidden name="entityId" bind:value={entityId}/>
                <div class="form-control-second">
                    <button on:click="{addComment}" class="btn" type="button">Добавить комментарий</button>
                </div>
            </form>
            <div class="commented-section">
                {#if responseComment}
                <div class="commented-section-all">
                    <div class="d-flex justify-content-between">
                        <div class="commented-section-first">
                            <img
                            src="/assets/images/avatar_facilitator_1.jpg"
                            class="comment-avatar"
                            alt="comment-avatar"
                            />
                            <h5 class="mr-2">{responseComment.email}</h5>
                        </div>
                        <div class="commented-section-second">
                            <span class="dot"/>
                            <span class="commented-section-time">{responseComment.created}</span>
                        </div>
                    </div>
                    <div class="comment-text-sm">
                        <span>{responseComment.comment}</span>
                    </div>
                </div>
                {/if}
                {#each comments as comment}
                <div class="commented-section-all">
                    <div class="d-flex justify-content-between">
                        <div class="commented-section-first">
                            <img
                            src="/assets/images/avatar_facilitator_1.jpg"
                            class="comment-avatar"
                            alt="comment-avatar"
                            />
                            <h5 class="mr-2">{comment.email}</h5>
                        </div>
                        <div class="commented-section-second">
                            <span class="dot"/>
                            <span class="commented-section-time">{comment.created}</span>
                        </div>
                    </div>
                    <div class="comment-text-sm">
                        <span>{comment.comment}</span>
                    </div>
                </div>
                {/each}
            </div>
        </div>
    </div>
</div>
