.comments {
	cursor: pointer;
	margin: 40px 10px;
}

.dot {
	height: 7px;
	width: 7px;
	margin-top: 3px;
	background-color: var(--primaryColor);
	border-radius: 50%;
	display: inline-block;
}

.comment-text-sm {
	color: var(--mainBlack);
	font-size: 12px;
}

.commented-section-time {
	color: var(--mainBlack);
	font-size: 10px;
}

.hit-voting:hover {
	color: blue
}

.hit-voting {
	cursor: pointer
}

.add-comment-section {
	margin-bottom: 10px;
}

.add-comment-section button {
	background-color: var(--primaryColor);
	display: block;
	color: var(--mainWhite);
	font-size: 1rem;
	cursor: pointer;
	border-radius: 8px;
	box-shadow: var(--box-shadow);
	text-transform: uppercase;
	font-size: 12px;
}

.add-comment-section button:hover {
	background: #28165f;
	color: white;
	box-shadow: var(--box-shadow);
}

.add-comment-section textarea {
	min-width: 100%;
}

.commented-section-all {
	padding-bottom: 20px;
}

.commented-section-second {
	float: right;
}

.commented-section {
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	box-shadow: var(--box-shadow);
}

.comment-avatar {
	width: 40px;
	border-radius: 50%;
	box-shadow: var(--box-shadow);
}

.commented-section-first {
	display: flex;
	align-items: center;
}

.commented-section-first h5 {
	margin-left: 10px;
}