.filter-form-title {
    text-align: center;
    display: block;
    margin: 0 auto;
    color: var(--primaryColor);
    padding: 8px 0;
    width: 50%;
}

.form-block-filter {
    text-align: var(--textCenter);
    margin: auto;
    width: 100%;
    margin-bottom: 30px;
}


.form-block-filter .block-input-filter,
.form-block-filter button {
    width: 100%;
    border: none;
    padding: 14px;
    border-radius: 3px;
}

.form-block-filter .block-input-filter {
    border: 2px solid #DADDEC;
    margin: 5px 0 10px;
    font-size: 12px;
    color: #656880;
}

.form-block-filter button {
    background-color: var(--primaryColor);
    display: block;
    color: var(--mainWhite);
    font-size: 1rem;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: var(--box-shadow);
    text-transform: uppercase;
    font-size: 12px;
}

.form-block-filter button:hover {
    background: #28165f;
    color: white;
    box-shadow: var(--box-shadow);
}