<script>
  import './filter.css';
  import { onMount } from "svelte";
  import formatsAPI from "../../api/formatsAPI.js";
  import citiesAPI from "../../api/citiesAPI.js";
  
  let formats = [];
  
  onMount(async () => {
    formats = await formatsAPI.readAll();
  });
  
  let cities = [];
  
  onMount(async () => {
    cities = await citiesAPI.readAll();
  });
</script>


<div class="filter-form">
  <h2 class="filter-form-title">Фильтр</h2>
  <form action="" class="form-block-filter">
    <label for="dataStart">
      <input
      type="date"
      placeholder="Дата проведения"
      name="dataStart"
      class="block-input-filter"
      />
    </label>
    
    <select class="block-input-filter" name="city">
      <option value="default-value" disabled selected
      >Город проведения</option>
      {#each cities as city}
      <option value={city.id}>{city.title}</option>
      {/each}
    </select>
    
    <select class="block-input-filter" name="format">
      <option value="default-value" disabled selected
      >Формат проведения</option>
      {#each formats as format}
      <option value={format.id}>{format.title}</option>
      {/each}
    </select>
    <div>
      <button type="submit">Применить</button>
    </div>
  </form>
</div>