.knowledges-all {
    padding: 0;
    color: var(--mainBlack);
    font-size: 12px;
    align-items: flex-start;
    width: 70%;
    margin-left: 25%;
}

@media (max-width:1200px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width:992px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width:767px) {
    .container {
        max-width: none;
    }
}

-- Блок Knowledge

.picture-knowledge-all {
    width: 100%;
    margin: 10px 0;
    border-radius: 8px;
}

.information-knowledge-all {
    font-size: 13px;
    color: var(--primaryColor);
}

.answer-info-knowledge-all {
    font-size: 13px;
    margin-right: 0.5rem;
    color: black !important;
}

.button-information-knowledge-all p {
    margin: 5px 0 10px 0;
    padding: 5px 10px;
    font-size: 12px;
    background-color: var(--primaryColor);
    color: var(--mainWhite);
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    width: 40%;
}

.knowledge-information-all {
    background-color: var(--mainWhite);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    margin:0 5px 4px 0;
    max-width: 32% !important;
}

.knowledges-category-button-container-all {
    display: flex;
}

.answer-info-knowledge-all {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
    height: 3.9em;
}

.knowledges-container-all{
    margin-top: 20px;
    margin-bottom: 40px;
}

.knowledges-container-all-autocomplete{
    display: block;
}

.block-knowledges-search{
    text-align: center;
    display: block;
    margin: 0 auto;
    color: var(--primaryColor);
    padding: 8px 0;
    width: 50%;
}

.svelte-1hda3m{
    z-index: 2;
}

.button-information-knowledge-all-href{
    margin: 5px 0 10px 0;
    padding: 5px 10px;
    font-size: 12px;
    background-color: var(--primaryColor);
    color: var(--mainWhite);
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}



/* Кнопка Перехода по категориям*/


.knowledges-category-button-all {
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 10px;
    border: 1px solid var(--primaryColor);
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: var(--primaryColor);
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
    margin-right: 2px;
    cursor: pointer;
}

.knowledges-category-button-all:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: var(--primaryColor);
    z-index: -1;
}

.knowledges-category-button-all:hover, .knowledges-category-button-all:focus {
    color: var(--mainWhite);
}

.knowledges-category-button-all:hover:before, .knowledges-category-button-all:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.knowledges-category-button-all:active {
    transform: scale(0.9);
}