<script>
    import "./contacts.css";
  </script>

<div class="contacts">
    <div class="container">
        <h3 style="text-align:center;">Контакты</h3>

        <div class="descript-wrapper">
            <h4 class="aio-icon-title">Наш фактический адрес:</h4>
            <div class="aio-icon-description">
                192019, г. Санкт-Петербург, ул. Мельничная,
                <br />дом 22, литер А, офис 28
            </div>
        </div>

        <span class="clearfix" />

        <div class="descript-wrapper">
            <h4 class="aio-icon-title">Время работы:</h4>
            <div class="aio-icon-description">
                пн.-пт. с 9:00 до 18:00, без перерыва.
                <br />сб, вс — выходной
            </div>
        </div>

        <span class="clearfix" />

        <div class="descript-wrapper">
            <h4 class="aio-icon-title">Электронная почта:</h4>
            <div class="aio-icon-description">
                lafa.community@mail.ru
                <br />lafa.community@mail.ru
            </div>
        </div>

        <span class="clearfix" />

        <div class="descript-wrapper">
            <h4 class="aio-icon-title">Наши Телефоны:</h4>
            <div class="aio-icon-description">
                8 (812) 703-70-46
                <br />8 (812) 703-70-46
            </div>
        </div>

        <span class="clearfix" />
    </div>
</div>
