:root {
    --primaryColor: #381f84; 
}

h3 {
    font-weight: 600;
    font-size: 36px;
    margin: 60px 0px;
  }

.contacts {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 60px;
  }

.clearfix:after,
.clearfix:before {
    content: ".";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    clear: both;
  }


.descript-wrapper {
      float: left;
      margin-bottom: 20px;
  }

.aio-icon-title {
      font-size: 18px;
      color: var(--primaryColor);
      line-height: 1;
      margin-bottom: 10px;
  }
  
@media (max-width: 767px) {
      .descript-wrapper,
      .ico-wrap {
        float: none;
      }
      .ico-wrap {
        margin: 0 auto 15px auto;
      }
  }