:root {
    --primaryColor: #381f84;
    --mainWhite: #fff;
    --maxWidth: 1170px;
    --widthAdaptiv: 50%;
    --textUp: uppercase;
    --textCenter: center;
    --borderColor: #d4cfcb solid 1px;
    --size12: 12px;
    --colorGreen: #6aa350;
    --paddingSize: 0.25rem 0.5rem;
    --heightSize: 10em;
}

.news-details-title {
    margin-right: 0.5rem;
    font-size: 14px;
    color: var(--colorGreen);
    padding: var(--paddingSize);
    margin-top: 20px;
}

.news-details-banner-block {
    display: flex;
}

.news-details-banner img{
    border-radius: 30px;
    width: 100%;
    height: 100%;
}

.description-news-details {
    margin-right: 0.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 12px;
    padding: var(--paddingSize);
    text-align: justify;
}

.news-details-heading-title {
    display: inline-block;
    color: var(--primaryColor);
}

.news-details-description {
    font-size: 13px;
    margin-right: 0.5rem;
    color: var(--colorGreen);
    font-weight: bold;
}