.card-facilitator {
	position: relative;
	display: block;
	height: 100%;  
	border-radius: calc(var(--curve) * 1px);
	overflow: hidden;
	text-decoration: none;
    max-width: 32% !important;
}

.card-facilitator-photo {      
	width: 100%;
	height: auto;
}

.card-facilitator-photo img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-facilitator-header {
	position: relative;
	display: flex;
	align-items: center;
    justify-content: center;
	gap: 2em;
	border-radius: calc(var(--curve) * 1px) 0 0 0;    
	background-color: var(--surface-color);
	transform: translateY(-55%);
	transition: .2s ease-in-out;
    background-color: var(--mainWhite);
}    

.card-facilitator-header-text {
    text-align: center;
}

.card:hover .card-facilitator-header {
	transform: translateY(0);
}

.card-facilitator-title {
	font-size: 13px;
	margin: 0 0 .3em;
	color: var(--mainBlack);
}

.card-facilitator-status {
	font-size: 11px;
	color: var(--mainBlack);
}

.facilitators-container {
	width: 100%;
    margin-top: 30px;
}