<script>
    import "./cabinet.css";
    import MyCourses from "./MyCourses.svelte";
    import MyEvents from "./MyEvents.svelte";
    import Person from "./Person.svelte";
    import SubmissionsToFacilitation from "./SubmissionsToFacilitation.svelte";
    import MyCertificates from "./MyCertificates.svelte";
    import CreateNews from "./CreateNews.svelte";
    import CreateKnowledge from "./CreateKnowledge.svelte";

    let activeTab = Person;
</script>

<div class="events">
    <div class="container">
        <div class="cabinet-description block-information-cabinet">
            <div class="column-one-cabinet">
                <button class="button-cabinet" on:click={() => activeTab = Person}> Личные данные</button>
                <button on:click={() => activeTab = MyCertificates} class="button-cabinet">Мои сертификаты</button>
                <button on:click={() => activeTab = MyCourses} class="button-cabinet">Пройденное обучение</button>
                <button on:click={() => activeTab = MyEvents} class="button-cabinet">Проведенные мероприятия</button>
                <button on:click={() => activeTab = CreateNews} class="button-cabinet">Добавить новость</button>
                <button on:click={() => activeTab = CreateKnowledge} class="button-cabinet">Добавить статью в базу знаний</button>
                <button on:click={() => activeTab = SubmissionsToFacilitation} class="button-cabinet">Заявки на фасилитацию</button>
            </div>

            <div class="column-two-cabinet">
            <svelte:component this={activeTab}/>


            </div>
        </div>
    </div>
</div>
