:root {
    --primaryColor: #381f84;
    --mainWhite: #fff;
    --maxWidth: 1170px;
    --widthAdaptiv: 50%;
    --textUp: uppercase;
    --textCenter: center;
    --borderColor: #d4cfcb solid 1px;
    --size12: 12px;
    --colorGreen: #6aa350;
    --paddingSize: 0.25rem 0.5rem;
}

.container {
    margin: 0px auto;
    max-width: var(--maxWidth);
}

@media (max-width:1200px) {
    .container {
        max-width: 970px;
    }

    .block-cards-cabinet {
        justify-content: space-between;
    }
}

@media (max-width:1179px) {
    .container {
        max-width: 850px;
    }

    .block-cards-cabinet {
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:992px) {
    .container {
        max-width: 750px;
    }
    .block-cards-cabinet {
        justify-content: center;
    }
}

@media (max-width:767px) {
    .container {
        max-width: none;
    }
    .block-cards-cabinet {
        justify-content: center;
    }
}

/* -- Блок Меню */

.block-information-cabinet {
    margin-top: 30px;
    justify-content: space-around;
}

.cabinet-description {
    display: flex;
    flex-wrap: wrap;
}

.column-one-cabinet {
    width: 200px;
}

.title-menu-cabinet {
    display: inline-block;
    margin-right: 0.5rem;
    font-size: 14px;
    color: var(--colorGreen);
    padding: 50px 100px 50px 100px;
    text-decoration: none;

}

/* -- Блок Меню */

.column-two-cabinet {
    width: 800px;
    margin: 0 0 0 5%;
    height: 550px;
}

/* -- Блок Сертификаты */

.block-cards-cabinet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 20px;
}


.photo-cabinet {
    height: 220px;
    width: 180px;
}


.title-cabinet {
    text-align: center;
    margin: 5px auto 50px auto;
    padding: 8px 0;
    font-size: var(--size12);
    background-color: var(--primaryColor);
    color: var(--mainWhite);
    border-radius: 5px;
    text-transform: var(--textUp);
    width: var(--widthAdaptiv);
    font-weight: 400;
}



.cabinet-information {
    display: inline-block;
    font-weight: 400;
    margin-bottom: 20px;
}

.information-cabinet {
    font-size: 13px;
}

.answer-info-cabinet {
    font-size: 13px;
    margin-right: 0.5rem;
    color: var(--colorGreen);
}


.cabinet-banner-block {
    display: flex;
    margin-bottom: 20px;
}

.cabinet-banner img{
    border-radius: 30px;
    width: 100%;
    height: 100%;
}

/* Кнопка Перехода по компонентам*/

.button-cabinet {
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 40px;
    border: 1px solid var(--primaryColor);
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: var(--primaryColor);
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
}

.button-cabinet:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: var(--colorGreen);
    z-index: -1;
}

.button-cabinet:hover, .button-cabinet:focus {
    color: var(--mainWhite);
}

.button-cabinet:hover:before, .button-cabinet:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.button-cabinet:active {
    transform: scale(0.9);
}


/* Кнопка Личные данные*/
.person-btn {
    margin: 5px 0 10px 5px;
    padding: 5px 12px;
    font-size: 12px;
    background-color: var(--primaryColor);
    color: var(--mainWhite);
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
}

.person-download-agenda {
    text-align: right;
}

