<script>
    import "./create.css";
    import knowledgesAPI from "../../api/knowledgesApi";

    let inputTitle = '';
    let inputDescription = '';
    let inputImage = '';
    let inputAuthor = 1;
    let inputCategory = '';

    async function addKnowledge() {
        let newKnowledge = {
            title: inputTitle,
            description: inputDescription,
            image: inputImage,
            authorId: inputAuthor,
            categoryId: inputCategory
        };

        await knowledgesAPI.create(newKnowledge);

        inputTitle = '';
        inputDescription = '';
        inputImage = '';
        inputAuthor = '';
    }
</script>

<div class="block-title-create-news"><h2 class="title-create-news">Добавить статью в Базу знаний</h2></div>
<div  class="form-block-create-news">
        <div >
            <label for="title">
                <input type="text" id="title" placeholder="Название статьи" bind:value={inputTitle} name="title" class="information-block-create-news block-input-create-news" required>
            </label>

            <label class="description-create-news" for="description">
                <input type="text" placeholder="Описание статьи" class="information-block-create-news block-input-create-news text-description-create-news" bind:value={inputDescription} name="description" id="description">
            </label>

            <label for="image">
                <input type="text" id="image" placeholder="Фотография" bind:value={inputImage} name="image" class="information-block-create-news block-input-create-news" required>
            </label>

            <label for="author">
                <input type="number" id="author" placeholder="Автор" bind:value={inputAuthor}  name="author" class="information-block-create-news block-input-create-news">
            </label>

            <label for="category">
                <input type="number" id="category" placeholder="Категория" bind:value={inputCategory}  name="category" class="information-block-create-news block-input-create-news">
            </label>

            <button on:click={addKnowledge} class="send-create-news btn-create-news" type="submit">Отправить</button>
        </div>
</div>