<script>
    import "./create.css";
    import newsAPI from "../../api/newsApi";

    let inputTitle = '';
    let inputDescription = '';
    let inputImage = '';
    let inputAuthor = '';

    async function addNews() {
        let newNews = {
            title: inputTitle,
            description: inputDescription,
            image: inputImage,
            authorId: 1
        };

        await newsAPI.create(newNews);

        inputTitle = '';
        inputDescription = '';
        inputImage = '';
    }
</script>

<div class="block-title-create-news"><h2 class="title-create-news">Добавить новость</h2></div>
<div  class="form-block-create-news">
        <div >
            <input class="block-checkbox-create-news" type="checkbox" id="checkbox" name="checkbox" value="checkbox"><span class="title-checkbox">Социальная или нет</span>
            <label for="title">
                <input type="text" id="title" placeholder="Название новости" bind:value={inputTitle} name="title" class="information-block-create-news block-input-create-news" required>
            </label>

            <label class="description-create-news" for="description">
                <input type="text" placeholder="Описание новости" class="information-block-create-news block-input-create-news text-description-create-news" bind:value={inputDescription} name="description" id="description">
            </label>

            <label for="image">
                <input type="text" id="image" placeholder="Фотография" bind:value={inputImage} name="image" class="information-block-create-news block-input-create-news" required>
            </label>

            <button on:click={addNews} class="send-create-news btn-create-news" type="submit">Отправить</button>
        </div>
</div>