:root {
    --primaryColor: #381f84; 
    --mainWhite: #fff; 
    --maxWidth: 1170px;  
    --widthAdaptiv: 50%;
    --textUp: uppercase;
    --textCenter: center;
    --borderColor: #d4cfcb solid 1px;
    --size12: 12px;
    --color: #c1e0968f;
}


.btn-create-news {
    padding: 8px 0;
    font-size: var(--size12);
    background-color: var(--primaryColor);
    color: var(--mainWhite);
    border-radius: 5px;
    cursor: pointer;
    text-transform: var(--textUp);
    width: var(--widthAdaptiv);
    font-weight: 400;
    margin: 30px 0 10px 0;
}


/*-- Форма Отпраки Заявки -- */

.title-create-news {
    text-align: center;
    display: block;
    margin: 5px auto 0 auto;
    color: var(--primaryColor);
    background: var(--color);
    padding: 8px 0;
    width: 50%;
    border-radius: 8px;
}

.form-block-create-news {
    display: block;
    text-align: var(--textCenter);
    margin: auto;
    width: 100%;
    /* border-bottom: var(--borderColor); */
    margin-bottom: 30px;
}

.block-checkbox-create-news {
    width: 20px;
    height: 15px;
    margin-top: 20px;
}

.title-checkbox-create-news {
    font-size: 16px;
    color: var(--primaryColor);
}

.information-block-create-news {
    width: var(--widthAdaptiv);
} 

.block-input-create-news {
    background: var(--color);
    border: solid 0.5px; 
    padding: 5px 0 5px 10px;
    border-radius: 10px;
}

.description-create-news {
    height: 150px;
}

.text-description-create-news {
    color: var(--primaryColor);
    height: 140px;
}

.send-create-news {
    margin-bottom: 30px;
    font-size: 14px;
}


