<script>
    import "./cabinet.css";
</script>

<div><p class="title-cabinet">Сертификаты</p></div>
<div class="block-cards-cabinet">
    <div>
        <img class="photo-cabinet" src="/assets/cabinet/certificate.jpg" alt="photo-3">
    </div>
    <div >
        <img class="photo-cabinet" src="/assets/cabinet/certificate.jpg" alt="photo-2">
    </div>
    <div>
        <img class="photo-cabinet" src="/assets/cabinet/certificate.jpg" alt="photo-1">
    </div>
    <div>
        <img class="photo-cabinet" src="/assets/cabinet/certificate.jpg" alt="photo-1">
    </div>
</div>