<script>
    import "./cabinet.css";
</script>

<div class="block-title-cabinet"><p class="title-cabinet">Проведенные мероприятия</p></div>
<div class="cabinet-information">
    <h6 class="information-cabinet">1.
        <span class="answer-info-cabinet">Проведенное мероприятие №1</span></h6> <br>

    <h6 class="information-cabinet">2.
        <span class="answer-info-cabinet">Проведенное мероприятие  №2</span></h6><br>

    <h6 class="information-cabinet">3.
        <span class="answer-info-cabinet">Проведенное мероприятие  №3</span></h6> <br>
</div>
