<script>
    import "./cabinet.css";
</script>

<div class="cabinet-banner-block col-12">
    <div class="cabinet-banner col-4 p-0">
        <img src="/assets/cabinet/avatar.jpg" alt="news">
    </div>

    <div class="cabinet-info col-8">
        <div class="person-download-agenda">
            <button type="button" class="person-btn"> Оплатить подписку</button>
        </div>

        <div class="person-download-agenda">
            <button type="button" class="person-btn"> Мой кошелек</button>
        </div>

        <div class="person-download-agenda">
            <button type="button" class="person-btn"> Редактировать данные</button>
        </div>

    </div>
</div>

<div class="cabinet-information">
    <h6 class="information-cabinet">Имя:
        <span class="answer-info-cabinet">Анна</span></h6>

    <h6 class="information-cabinet">Фамилия:
        <span class="answer-info-cabinet">Пацюк</span></h6>

    <h6 class="information-cabinet">Пол:
        <span class="answer-info-cabinet">женский</span></h6>

    <h6 class="information-cabinet">Номер телефона:
        <span class="answer-info-cabinet">+77077777777</span></h6>

    <h6 class="information-cabinet">Электронный адрес:
        <span class="answer-info-cabinet">anna@gmail.com</span></h6>

    <h6 class="information-cabinet">Обо мне:
        <span class="answer-info-cabinet">Крутой фасилитатор</span></h6>
</div>

