<script>
    import "./cabinet.css";
</script>


<div class="block-title-cabinet"><p class="title-cabinet">Заявки на фасилитацию</p></div>
<div class="cabinet-information">
    <h6 class="information-cabinet">1.
        <span class="answer-info-cabinet">Заявка №1</span></h6> <br>

    <h6 class="information-cabinet">2.
        <span class="answer-info-cabinet">Заявка №2</span></h6><br>

    <h6 class="information-cabinet">3.
        <span class="answer-info-cabinet">Заявка №3</span></h6> <br>
</div>